// DIRECTIONAL
// ---------------------------------------------------------------
$rtl: 0;
$dir: ltr !default;

@import "../../theme-imports";

#login-form-popup { position: relative; width: 80%; max-width: 525px; margin-left: auto; margin-right: auto; }
#login-form-popup .featured-box { margin-bottom: 0; box-shadow: none; border: none; border-radius: 0; }
#login-form-popup .featured-box .box-content { padding: 45px 36px 30px; border: none; }
#login-form-popup .featured-box h2 { text-transform: uppercase; font-size: 15px; letter-spacing: 0.05em; font-weight: 600; line-height: 2; }
#login-form-popup .porto-social-login-section { margin-top: 20px; }
.porto-social-login-section { background: #f4f4f2; text-align: center; padding: 20px 20px 25px; }
.porto-social-login-section p { text-transform: uppercase; font-size: 12px; color:var(--porto-h4-color,var(--porto-heading-color)); font-weight: 600; margin-bottom: 8px; }
#login-form-popup .col2-set { margin-left: -20px; margin-right: -20px; }
#login-form-popup .col-1, #login-form-popup .col-2 { padding-left: 20px; padding-right: 20px; }
@media (min-width: 992px) {
    #login-form-popup .col-1 { border-#{$right}: 1px solid #f5f6f6; }
}
#login-form-popup .input-text { box-shadow: none; padding-top: 10px; padding-bottom: 10px; border-color: #ddd; border-radius: 2px; line-height: 1.5 !important; }
#login-form-popup .form-row { margin-bottom: 20px; }
#login-form-popup .woocommerce-privacy-policy-text { display: none; }
#login-form-popup .button {border-radius: 2px; padding: 18px 24px; text-shadow: none; 
font-family: var(--porto-add-to-cart-ff), var(--porto-body-ff), sans-serif;
font-size: 12px; letter-spacing: -0.025em; }
#login-form-popup label.inline { margin-top: 15px; float: #{$right}; position: relative; cursor: pointer; line-height: 1.5; }
#login-form-popup label.inline input[type=checkbox] { opacity: 0; margin-#{$right}: 8px; margin-top: 0; margin-bottom: 0; }
#login-form-popup label.inline span:before { content: ''; position: absolute; border: 1px solid #ddd; border-radius: 1px; width: 16px; height: 16px; #{$left}: 0; top: 0; text-align: center; line-height: 15px; font-family: 'Font Awesome 5 Free'; font-weight: 900; font-size: 9px; color: #aaa; }
#login-form-popup label.inline input[type=checkbox]:checked + span:before { content: '\f00c'; }
#login-form-popup .social-button i { font-size: 16px; margin-#{$right}: 8px; }
#login-form-popup p.status { color: var(--porto-h4-color,var(--porto-heading-color)); }
.porto-social-login-section .google-plus { background: #dd4e31; }
.porto-social-login-section .facebook { background: #3a589d; }
.porto-social-login-section .twitter { background: #1aa9e1; }
.featured-box .porto-social-login-section i { color: #fff; }
.porto-social-login-section .social-button:hover { background: var(--porto-primary-color); }

html.panel-opened body > .mfp-bg { z-index: 9042; }
html.panel-opened body > .mfp-wrap { z-index: 9043; }