/*----------------------------------------------------------------------------*\
	MPC SHADOW PARAM - PANEL
\*----------------------------------------------------------------------------*/

.vc_wrapper-param-type-mpc_shadow {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.vc_wrapper-param-type-mpc_shadow *,
.vc_wrapper-param-type-mpc_shadow *:before,
.vc_wrapper-param-type-mpc_shadow *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.vc_wrapper-param-type-mpc_shadow .vc_row {
	padding: 0 15px;
}

.vc_wrapper-param-type-mpc_shadow .vc_column {
	padding-top: 0 !important;
}

.vc_wrapper-param-type-mpc_shadow p {
	font-size: 14px;
	margin: 0 0 10px 0;
}

.vc_wrapper-param-type-mpc_shadow .mpc_text_field {
	margin-right: 5px;
	border-radius: 3px;
	padding-right: 0 !important;
}

.vc_wrapper-param-type-mpc_shadow .wp-color-result:hover span {
	background: transparent;
}

.vc_wrapper-param-type-mpc_shadow .mpc-shadow-text {
	margin: 15px 0 0;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	border: 1px dashed #cccccc;
	border-radius: 3px;
	background: #fafafa;
}

.vc_wrapper-param-type-mpc_shadow .mpc-value {
	opacity: .25;
	background: none;
}
