/*----------------------------------------------------------------------------*\
	PAGINATION SHORTCODE
\*----------------------------------------------------------------------------*/
.mpc-pagination {
	display: block;
	width: 100%;

	&.mpc-disabled,
	& .mpc-disabled {
		opacity: 0.5;
		filter: alpha( opacity = 50 );
		cursor: default;
		pointer-events: none;
	}

	li:last-child {
		margin-right: 0;
	}

	li {
		&:before,
		&:after {
			content: "" !important;
			border: 0 !important;
			position: static !important;
		}
	}

	//.mpc-pagination__title,
	//.mpc-pagination__background,
	//.mpc-pagination__icon,
	//.mpc-pagination__content {
	//	-webkit-transition: inherit;
	//	transition: inherit;
	//}
}

/* Infinity */
.mpc-pagination--infinity {
	visibility: hidden;
	height: 0;

	a {
		opacity: 0;
		height: 0 !important;
		border: 0 !important;
	}
}

/* Classic */
.mpc-pagination--classic {
	.mpc-pagination__links {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	li {
		display: inline-block;
		vertical-align: bottom;

		margin-bottom: 0 !important;

		&.mpc-current {
			a {
				cursor: default;
				pointer-events: none;
			}
		}
	}
}

.mpc-pagination__dots {
	padding: 0 1em;
}

.mpc-pagination a {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-decoration: none;
	vertical-align: bottom;
	z-index: 1;
}

.mpc--square.mpc-pagination {
	a {
		text-align: center !important;

		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	& li:not(:first-child):not(:last-child) .mpc-pagination__title {
		padding: 0 !important;
	}

	& li:first-child .mpc-pagination__title,
	& li:last-child .mpc-pagination__title {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	span {
		height: 100%;
	}
}

.mpc-pagination__content {
	position: relative;
	z-index: 2;
}

.mpc-pagination__title {
	display: inline-block;
	vertical-align: middle;
}

.mpc-pagination__icon {
	text-align: center;
	vertical-align: middle;
	display: inline-block;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.mpc-pagination__background {
	position: absolute;
	z-index: 1;
	opacity: 0;

	.mpc-pagination a:hover &,
	.mpc-pagination .mpc-current & {
		opacity: 1;
	}

	&.mpc-effect-type--fade {
		&.mpc-effect-side--in {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
	&.mpc-effect-type--slide {
		&.mpc-effect-side--top {
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				top: 0;
			}
		}
		&.mpc-effect-side--right {
			top: 0;
			left: 100%;
			width: 100%;
			height: 100%;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				left: 0;
			}
		}
		&.mpc-effect-side--bottom {
			top: 100%;
			left: 0;
			width: 100%;
			height: 100%;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				top: 0;
			}
		}
		&.mpc-effect-side--left {
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				left: 0;
			}
		}
	}
	&.mpc-effect-type--expand {
		&.mpc-effect-side--horizontal {
			top: 0;
			bottom: 0;
			left: 50%;
			right: 50%;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				left: 5%;
				right: 5%;
			}
		}
		&.mpc-effect-side--vertical {
			top: 50%;
			bottom: 50%;
			left: 0;
			right: 0;

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				top: 5%;
				bottom: 5%;
			}
		}
		&.mpc-effect-side--diagonal_left {
			top: 50%;
			bottom: 50%;
			left: -20%;
			right: -20%;
			transform: rotate(45deg);

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				top: -60%;
				bottom: -60%;
			}
		}
		&.mpc-effect-side--diagonal_right {
			top: 50%;
			bottom: 50%;
			left: -20%;
			right: -20%;
			transform: rotate(-45deg);

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				top: -60%;
				bottom: -60%;
			}
		}
	}
}

.mpc-pagination__content {
	&.mpc-effect-type--none .mpc-pagination__icon {
		opacity: 0;
		visibility: hidden;

		.mpc-pagination a:hover &,
		.mpc-pagination .mpc-current & {
			opacity: 1;
			visibility: visible;
		}
	}

	&.mpc-effect-type--stay {
		&.mpc-effect-side--left {
			.mpc-pagination__icon {
				padding-right: .5em;
			}
			.mpc-pagination__title {
				padding-left: 0;
			}
		}
		&.mpc-effect-side--right {
			.mpc-pagination__icon {
				padding-left: .5em;
			}
			.mpc-pagination__title {
				padding-right: 0;
			}
		}
	}

	&.mpc-effect-type--slide {
		.mpc-pagination__icon {
			position: absolute;
			top: 50%;
			opacity: 0;

			-ms-transform: translateY(-50%);
			transform: translateY(-50%);

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				opacity: 1;
			}
		}

		&.mpc-effect-side--left {
			.mpc-pagination__icon {
				left: -100%;
				padding: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					left: 5%;
				}
			}
		}
		&.mpc-effect-side--right {
			.mpc-pagination__icon {
				right: -100%;
				padding: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					right: 5%;
				}
			}
		}
	}

	&.mpc-effect-type--push_out {
		overflow: hidden;

		.mpc-pagination__icon {
			position: absolute;
			opacity: 0;

			-ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);

			.mpc-pagination a:hover &,
			.mpc-pagination .mpc-current & {
				opacity: 1;
			}
		}

		.mpc-pagination__title {
			position: relative;
		}

		&.mpc-effect-side--top {
			.mpc-pagination__icon {
				top: -100%;
				left: 50%;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					top: 50%;
				}
			}
			.mpc-pagination__title {
				top: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					top: 5em;
				}
			}
		}
		&.mpc-effect-side--right {
			.mpc-pagination__icon {
				top: 50%;
				left: 150%;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					left: 50%;
				}
			}
			.mpc-pagination__title {
				left: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					left: -100%;
				}
			}
		}
		&.mpc-effect-side--bottom {
			.mpc-pagination__icon {
				top: 150%;
				left: 50%;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					top: 50%;
				}
			}
			.mpc-pagination__title {
				top: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					top: -5em;
				}
			}
		}
		&.mpc-effect-side--left {
			.mpc-pagination__icon {
				top: 50%;
				left: -100%;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					left: 50%;
				}
			}
			.mpc-pagination__title {
				left: 0;

				.mpc-pagination a:hover &,
				.mpc-pagination .mpc-current & {
					left: 100%;
				}
			}
		}
	}
}

@media screen and ( max-width: 640px ) {
	.mpc-pagination--classic li:not( :first-child ):not( :last-child ) {
		display: none;
	}
}