<div class="wpml-wizard-step wpml-translation-editor-step js-wpml-translation-editor-step">
    <div class="wpml-translation-editor-step__ate">
        <h2>An Advanced Translation Editor</h2>

        <p>WPML’s Advanced Translation Editor allows you and your translators to translate faster, easier and more accurately. The editor includes key features like:</p>
        <ul>
            <li>Convenient translation for page-builder designs</li>
            <li>Automatic translation</li>
            <li>Translation memory and glossary</li>
            <li>A modern translation interface</li>
        </ul>

        <div class="wpml-translation-editor-step__ate-cta">
            <button>Continue</button>
            <span class="spinner" ></span>
            <span class="error"></span>
        </div>
    </div>
    <div class="wpml-translation-editor-step__classic">
        <p>Prefer the old translation editor? <a href="#">Switch to WPML’s Classic Translation Editor</a><span class="spinner" ></span></p>
    </div>
</div>
