/* Add to Cart Notification Style 2 */
#loading-mask {
    font-size: 1.1em;
    font-weight: 700;
    position: fixed;
    text-align: center;
    z-index: 20002;
    width: 100%;
    height: 100%;
    #{$left}: 0;
    top: 0;
}
.loader-container {
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    text-align: center;
    background-color: rgba(255,255,255,.5);
    display: none;
    > .loader {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -17px;
    }
    i.porto-ajax-loader {
        display: inline-block;
        border: 2px solid transparent;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        border-radius: 20px;
        @include animate-spin;
        &:before {
            left: -2px;
            top: -2px;
            display: inline-block;
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            border-top-color: inherit;
            animation: spin 1.5s infinite ease;
        }
    }
}
li.product-col {
    .loader-container i.porto-ajax-loader {
        width: 34px;
        height: 34px;
    }
}
.after-loading-success-message {
    display: none;
    font-size: 1.1em;
    position: fixed;
    text-align: center;
    z-index: 20002;
    width: 100%;
    height: 100%;
    #{$left}: 0;
    top: 0;
}
.background-overlay {
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: transparent;
}
.success-message-container {
    margin: auto;
    padding: 20px 14px;
    line-height: 1.4;
    position: relative;
    text-align: center;
    top: 35%;
    width: 300px;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    .product-name {
        font-size: 14px;
        margin: 5px 0 10px;
    }
    .msg {
        display: block;
        margin-bottom: 10px;
        font-size: 13px;
    }
    button {
        margin-top: 12px;
        padding: 8.5px 0;
        min-width: 133px;
    }
    img {
        display: inline-block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}