
.woocommerce-account {
    .woocommerce {
        @include clearfix();
        margin: 0 -10px;
        > .row {
            margin-left: calc(10px - var(--porto-column-spacing));
            margin-right: calc(10px - var(--porto-column-spacing));
        }
        > .col-md-6, > .col-lg-10 {
            padding-right: calc(var(--porto-grid-gutter-width) / 2);
            padding-left: calc(var(--porto-grid-gutter-width) / 2);
        }
    }

    .woocommerce-MyAccount-navigation {
        float: $left;
        width: 25%;
        padding: 0 10px 30px;
        @media #{$screen-normal} {
            float: none;
            width: 100%;
        }

        ul {
            list-style: none;
            padding: 0;
            li {
                margin: 0;
                padding: 0;
                display: block;
                position: relative;
                a {
                    @include transition (background .1s);
                    padding: side-values(8px 0 8px 0);
                    display: block;
                    color: var(--porto-body-color);
                    font-size: 1em;
                    font-weight: 500;
                    letter-spacing: -.025em;
                    /*&:before {
                        content: "";
                        display: inline-block;
                        width: 0;
                        height: 4px;
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        position: absolute;
                        top: 15px;
                        #{$left}: 10px;
                    }*/
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.is-active > a {
                    font-weight: 700;
                    color: var(--porto-heading-color);
                }
                &:not(:last-child) a {
                    border-bottom: 1px solid var(--porto-gray-5);
                }
                ul {
                    list-style: none;
                    margin: side-values(0 0 0 25px);
                    padding: 0;
                }
//                &:last-child {
//                    a {
//                        border-bottom: none;
//                    }
//                }
            }
        }
    }

    .woocommerce-MyAccount-content {
        float: $right;
        width: 75%;
        padding: 0 10px;
        @media #{$screen-normal} {
            float: none;
            width: 100%;
        }
    }

    ol.commentlist.notes {
        li.note {

            p.meta {
                font-weight: 700;
                margin-bottom: 0;
            }

            .description {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    ul.digital-downloads {
        margin-#{$left}: 0;
        padding-#{$left}: 0;

        li {
            list-style: none;
            margin-#{$left}: 0;
            padding-#{$left}: 0;

            .count {
                float: $right;
            }
        }
    }
    
    .account-sub-title i,
    .featured-box i {
        color: #d3d3d4; 
    }
    .featured-box {
        .icon-featured {
            font-size: 60px; 
        }
        h4 { 
            font-size: 1rem;
            letter-spacing: -.01em;
        }
    } 
}

.address {
    .featured-box {
        text-align: $left;
    }
}

#rememberme,
.back-login {
    margin-top: 10px;
    margin-bottom: 10px;
}

.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    padding: 3px 0px 3px 0px;
    color: #333;
    line-height: 1.2;

    &.strong {
        background-color: #c1e1b9;
        border-color: #83c373;
    }

    &.short {
        background-color: #f1adad;
        border-color: #e35b5b;
    }

    &.bad {
        background-color: #fbc5a9;
        border-color: #f78b53;
    }

    &.good {
        background-color: #ffe399;
        border-color: #ffc733;
    }
}

.woocommerce-password-hint {
    margin: 1em 0 0 0;
    display: block;
}

.order-info {
    mark {
        display: block;
        background: transparent;
        color: var(--porto-heading-color);
        padding: 0;
    }
}

.porto-social-login-section {
    &.false-modal {
        a {
            padding: 17px 12px;
            margin-bottom: 20px;
        }
        i {
            margin-right: 5px;
            &.fa-facebook-f {
                width: 25px;
                height: 25px;
                line-height: 35px;
                vertical-align: middle; 
                color: #3a589d;
                background: #fff;
                border-radius: 50%;
            }
        }
        span {
            letter-spacing: -.03em;
        }
    }

    .social-button:hover i.fa-facebook-f {
        color: var(--porto-primary-color);
    }
}

#login-form-popup .register-btn {
    margin: 20px 0 0;
    color: var(--porto-heading-color);
    letter-spacing: -.025em;
    outline: none;
    &:hover {
        color: var(--porto-primary-color);
    }
}