
/* Category page sidebar */
.woocommerce-page {
    &.archive {
        .sidebar-content {
            border: 1px solid #e7e7e7;
            .widget-title { padding: 0; background: none; border: none; }
            .porto-separator { display: none; }
            aside.widget { border-bottom: 1px solid rgb(239, 239, 239); margin-bottom: 0; margin-top: 0; padding: 20px; }
            aside.widget:last-child { border-bottom: none; }
            aside.widget .widget { margin-bottom: 0; }
        }
        @media #{$screen-normal} {
            .mobile-sidebar aside.widget {
                padding-left: 0; padding-right: 0;
                &:first-child { padding-top: 0; }
            }
        }
    }
    .sidebar-content .widget-title {
        font-weight: $font-weight-semibold;
        font-size: 15px;
    }
}

.sidebar .product-categories li > a { font-size: 14px; font-weight: 500; }
.widget_product_categories ul li .toggle { font-size: 11px; color: #222529 !important; font-family: Porto; }
.widget_product_categories ul li .toggle:before { content: "\e81c"; }
.widget_product_categories ul li.current > .toggle:before,
.widget_product_categories ul li.open > .toggle:before { content: "\e81b"; }
.widget_product_categories ul li.closed > .toggle:before { content: "\e81c"; }