@page
@model AspnetCoreFull.Pages.Pages.Misc.ServerErrorModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Server Error - Pages";
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-misc.dist.css">
}

@* ************** Content ************** *@
<!-- Server Error -->
<div class="misc-wrapper">
  <h1 class="mb-2 mx-2" style="font-size: 6rem;">500</h1>
  <h4 class="mb-2 fw-semibold">Internal server error 🔐</h4>
  <p class="mb-2 mx-2">Oops somthing went wrong.</p>
  <div class="d-flex justify-content-center mt-5">
    <img src="~/img/illustrations/misc-error-object.png" alt="misc-server-error" class="img-fluid misc-object d-none d-lg-inline-block" width="160">
    <img src="~/img/illustrations/misc-bg-light.png" alt="misc-server-error" class="misc-bg d-none d-lg-inline-block" data-app-light-img="illustrations/misc-bg-light.png" data-app-dark-img="illustrations/misc-bg-dark.png">
    <div class="d-flex flex-column align-items-center">
      <img src="~/img/illustrations/misc-server-error-illustration.png" alt="misc-server-error" class="img-fluid zindex-1" width="230">
      <div>
        <a href="/" class="btn btn-primary text-center my-5">Back to home</a>
      </div>
    </div>
  </div>
</div>
<!-- /Server Error -->
