
/* Navs */
.nav {
    > li {
        > a:hover, > a:focus {
            background: transparent;
        }
    }
    i.icon-image {
        display: inline-block;
        max-width: 20px;
    }
}

ul {
    &.nav-list,
    &[class^="wsp-"] {
        li {
            margin: 0;
            padding: 0;
            display: block;
            flex: 0 0 100%;
            position: relative;
            a {
                @include transition (background .1s);
                padding: side-values(8px 0 8px 20px);
                display: block;
                color: #666;
                font-size: 0.9em;
                text-decoration: none;
                line-height: 20px;
                &:before {
                    content: "\f054";
                    display: inline-block;
                    position: absolute;
                    top: 9px;
                    #{$left}: 9px;
                    opacity: .7;
                    font-size: .45rem;
                }
                &:hover:before {
                    animation: arrowLeftRight .6s linear infinite;
                }
            }
            > a.active, &.active > a {
                font-weight: bold;
            }
            ul {
                list-style: none;
                margin: side-values(0 0 0 25px);
                padding: 0;
            }
            .wsp-category-title {
                margin-top: 10px;
            }
            .wsp-category-title a {
                display: inline-block;
                padding-#{$left}: 0;
                font-size: 1em;

                &:before {
                    display: none;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }

        &.hide-not-active {
            li {
                ul {
                    display: none;
                }
                &.active {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    &.narrow {
        li {
            a {
                padding-top: 4px;
                padding-bottom: 4px;
            }
        }
    }

    &.nav-pills > li > a.active {
        background-color: #CCC;
        &:hover, &:focus {
            background-color: #CCC;
        }
    }
    &.nav-pills-center {
        text-align: center;
        -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
        > li {
            display: inline-block;
            float: none;
        }
    }
    &.nav-pills-left {
        > li {
            float: $left;
        }
    }
    &.nav-pills-right {
        > li {
            float: $right;
        }
    }
    &.nav-pills-justify {
        display: -ms-flexbox;
        display: flex;
        > li {
            float: none;
            text-align: center;
            width: 100%;
        }
    }
}
.nav-pills .nav-link .active {
    background-color: transparent;
}

.show > .nav-pills .nav-link {
    background-color: transparent;
}

/* Nav Secondary */
.nav-secondary {
    background: #fafafa;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 100;
    .nav-pills {
        display: block;
        > li {
            display: inline-block;
            a,
            span {
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px;
                padding: 10px 13px;
                text-transform: uppercase;
                display: inline-block;
                i {
                    font-size: 14px;
                    margin-#{$right}: 5px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    &.sticky-active {
        border-bottom-color: #e9e9e9;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
}