/* Section Title */
.section-title {
    font-size: 1.1429em;
    line-height: 1.4;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 1.25em;
    letter-spacing: normal;
}

/* Section Featured */
.section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 0;

    &.section-center {
        text-align: center;
    }

    &.section-text-light {
        color: #fff;
        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }

        p {
            color: darken(#fff, 10%);
        }
    }

    &.section-background {
        background-repeat: repeat;
        border: 0;
    }

    &.section-overlay {
        position: relative;
        &:before {
            content: "";
            display: block;
            background: url("../images/video-overlay.png") repeat scroll 0 0 transparent;
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }

    &.section-video {
        background: none !important;
        border: 0;
    }

    &.section-parallax {
        background-color: transparent;
        border: 0;
    }

    &.section-with-divider {
        margin: 56px 0 35px;
        .section-divider {
            margin: -56px 0 44px;
        }
    }

    &.section-with-divider-footer {
        margin: 35px 0 56px;
        position: relative;
        .section-divider {
            margin: 44px 0 -56px;
        }
    }

    &.section-footer {
        margin-bottom: -50px;
    }

    .porto-section:last-child {
        > div > *:last-child {
            margin-bottom: 0;
        }
    }

    &.section-no-borders {
        border-width: 0;
    }
}

.vc_row,
.vc_column_container {
    &.section {
        &.section-with-divider {
            .section-divider {
                position: absolute;
                #{$left}: 0;
                width: 100%;
                top: 50px;
            }
        }

        &.section-with-divider-footer {
            .section-divider {
                position: absolute;
                #{$left}: 0;
                width: 100%;
                bottom: 55px;
            }
        }
    }
}

@media (min-width: 768px) {
    .vc_row-o-full-height > .container > .row,
    .vc_row-o-equal-height > .container > .row > .vc_column_container > .vc_column-inner {
        height: 100%;
    }
}
.vc_row-o-columns-middle > .container > .row {
    -ms-flex-align: center;
    align-items: center;
}

.vc_column_container.section {
    margin: 0;
    padding: 50px 15px;
}

.vc_row.section > .vc_column_container,
.vc_row.section > .porto-container > .vc_row > .vc_column_container,
.vc_column_container.section {
    .wpb_wrapper {
        > div:last-child {
            margin-bottom: 0;
        }
    }
}

.col-half-section {
    width: 100%;
    min-height: 1px;
    position: relative;
    float: $left;
    margin-#{$left}: 0;
    margin-#{$right}: 0;
    &.col-half-section-right {
        float: $right;
        @if $rtl == 1 {
            -ms-flex-item-align: start; align-self: flex-start;
        }
        @else {
            -ms-flex-item-align: end; align-self: flex-end;
        }
    }
}

.porto-section {
    position: relative;
    z-index: 0;
    padding-top: 50px;
    padding-bottom: 50px
}
.porto-section.vc_section {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.section-parallax > .parallax-background {
    z-index: 0;
}

.section-parallax > * {
    position: relative;
    z-index: 1;
}