.widefat .column-ywaf_status {
    width: 45px;
    text-align: center;
}

@media screen and (max-width: 782px) {
    .wp-list-table th.column-ywaf_status {
        display: none;
    }

    .widefat .column-ywaf_status {
        text-align: left;
    }
}

.widefat .column-ywaf_status mark {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 22px;
    width: 20px;
    margin: 0 auto;
    background: url(../images/unchecked.png) no-repeat center center;
}

.widefat .column-ywaf_status mark.high {
    background-image: url(../images/high.png);
}

.widefat .column-ywaf_status mark.medium {
    background-image: url(../images/medium.png);
}

.widefat .column-ywaf_status mark.low {
    background-image: url(../images/low.png);
}

.widefat .column-order_actions .ywaf-check {
    display: block;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em !important;
    width: 2em;
    background: url(../images/header.png) no-repeat center center;
}

.widefat .column-wc_actions .ywaf-check {
    display: block;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em !important;
    width: 2em;
    background: url(../images/header.png) no-repeat center center;
}

.widefat .column-order_status mark.ywaf-paypal-fail:after,
.widefat .column-order_status mark.ywaf-paypal-wait:after,
.widefat .column-order_status mark.ywaf-process:after,
.widefat .column-order_status mark.ywaf-failed:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.widefat .column-order_status mark.ywaf-paypal-wait:after,
.widefat .column-order_status mark.ywaf-process:after {
    content: "\e033";
    color: #999;
}

.widefat .column-order_status mark.ywaf-paypal-fail:after,
.widefat .column-order_status mark.ywaf-failed:after {
    content: "\e013";
    color: #a00;
}

.widefat .column-ywaf_status span.ywaf_status {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 14px;
    width: 12px;
    margin: 0 auto;
    background: url(../images/header.png) no-repeat center center;
}

/* Metabox */
#ywaf-metabox .inside {
    padding: 0;
    margin: 0;

}

.ywaf-risk-container {
    background: #f8f8f8;
    position: relative;
}

.ywaf-risk-container > .ywaf-risk-container-simple {
    font-size: 25px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #dfdfdf;
    background: #ffffff;
}

.ywaf-rules {
    font-size: 15px;
    line-height: 19px;
    padding: 10px 20px;
}

.ywaf-rules .ywaf-failed li {
    color: #c83c3d;
    padding: 0 0 0 30px;
    background: url(../images/rule_failed.png) no-repeat top left;
}

.ywaf-rules .ywaf-nocheck {
    text-align: center;
}

.ywaf-rules .ywaf-success {
    color: #00a208;
}

.ywaf-clear {
    clear: both;
}

.ywaf-thresholds {
    width: 50px;
}

.widefat .column-ywaf_status mark.paypal {
    background-image: url(../images/paypal.png);
}

.widefat .column-ywaf_status mark.paypal-failed {
    background-image: url(../images/paypal-failed.png);
}

.widefat .column-order_actions {
    width: 120px !important;
}

.widefat .column-suborder mark.ywaf-paypal-fail:after,
.widefat .column-suborder mark.ywaf-paypal-wait:after,
.widefat .column-suborder mark.ywaf-process:after,
.widefat .column-suborder mark.ywaf-failed:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.widefat .column-suborder mark.ywaf-paypal-wait:after,
.widefat .column-suborder mark.ywaf-process:after {
    content: "\e033";
    color: #999;
}

.widefat .column-suborder mark.ywaf-paypal-fail:after,
.widefat .column-suborder mark.ywaf-failed:after {
    content: "\e013";
    color: #a00;
}

.ywaf-risk-container.ywaf-premium > .ywaf-risk-container-knob {
    border-bottom: 1px solid #dfdfdf;
    background: #ffffff;
    display: none;
}

.ywaf-risk-container.ywaf-premium > .ywaf-risk-container-knob > div {
    position: relative;
    height: 200px;
    width: 200px;
    padding: 39px;
    margin: 0 auto;
}

.ywaf-risk-container.ywaf-premium > .ywaf-risk-container-knob > div > label {
    display: block;
    background: #FFFFFF;
    border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    height: 100px;
    width: 110px;
    padding: 30px 10px 0 10px;
    position: absolute;
    left: 74px;
    top: 74px;
    font-size: 33px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    line-height: normal;
}

.ywaf-risk-container.ywaf-premium > .ywaf-risk-container-knob > div > label > span {
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (min-width: 500px) and (max-width: 850px) {

    .ywaf-risk-container.ywaf-premium {
        padding: 0 0 0 278px;
    }

    .ywaf-risk-container.ywaf-premium .ywaf-risk-container-knob {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        border-bottom: 0 none;
        border-right: 1px solid #dfdfdf;
    }

    .ywaf-risk-container.ywaf-premium .ywaf-rules {
        border-left: 1px solid #dfdfdf;
    }

}

.ywcc-checklist-ajax input {
    width: 100% !important;
    border: none !important;
}

.widefat.wc_input_table.sortable td{
    padding: 5px!important;
}

.widefat.wc_input_table.sortable th{
    padding: 10px!important;
}