@page
@model AspnetCoreFull.Pages.LayoutExamples.BlankModel
@{
  ViewData["Title"] = "Blank layout - Layouts";
  Layout = "Layouts/_BlankLayout";
}
@* ************** Content ************** *@

<h4 class="fw-bold p-4">Blank Page</h4>
