@page
@model AspnetCoreFull.Pages.LayoutExamples.ContentNavbarModel
@{
  ViewData["Title"] = "Content Navbar layout - Layouts";
}
@* ************** Content ************** *@

<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
    <img src="~/img/layouts/layout-content-navbar-light.png" class="img-fluid" alt="Layout content navbar" data-app-light-img="layouts/layout-content-navbar-light.png" data-app-dark-img="layouts/layout-content-navbar-dark.png">
  </div>
  <div class="layout-demo-info">
    <h4>Layout content navbar</h4>
    <p>Template default layout, navbar in content area.</p>
  </div>
</div>
