@page
@model AspnetCoreFull.Pages.LayoutExamples.HorizontalMenuModel
@{
  ViewData["Title"] = "Horizontal layout - Layouts";
  Layout = "Layouts/_HorizontalLayout";
}
@* ************** Content ************** *@

<h4 class="fw-bold p-4">Blank Page</h4>
