@page
@model AspnetCoreFull.Pages.LayoutExamples.VerticalMenuModel
@{
  ViewData["Title"] = "Vertical layout - Layouts";
  Layout = "Layouts/_ContentNavbarLayout";
}
@* ************** Content ************** *@

<h4 class="fw-bold p-4">Blank Page</h4>
