$screen-lg: 1170 !default;
$grid-gutter-space: 30 !default;

@import "theme/shortcodes/common";
@import "theme/shortcodes/tabs";
@import "theme/shortcodes/accordion";
@import "theme/shortcodes/toggles";
@import "theme/shortcodes/grid_container";
@import "theme/shortcodes/carousel_logo";
@import "theme/shortcodes/testimonials";
@import "theme/shortcodes/preview_image";
@import "theme/shortcodes/buttons";
@import "theme/shortcodes/concept";
@import "theme/shortcodes/countdown";
@import "theme/shortcodes/diamond";
@import "theme/shortcodes/experience_timeline";
@import "theme/shortcodes/fancytext";
@import "theme/shortcodes/float_menu";
@import "theme/shortcodes/google_map";
@import "theme/shortcodes/heading";
@import "theme/shortcodes/history";
@import "theme/shortcodes/icon";
@import "theme/shortcodes/icons";
@import "theme/shortcodes/info_box";
@import "theme/shortcodes/info_list";
@import "theme/shortcodes/interactive_banner";
@import "theme/shortcodes/links_block";
@import "theme/shortcodes/map_section";
@import "theme/shortcodes/pricing_tables";
@import "theme/shortcodes/schedule_timeline";
@import "theme/shortcodes/stat_counter";
@import "theme/shortcodes/ultimate_carousel";
@import "theme/shortcodes/ultimate_content_box";
@import "theme/shortcodes/vc_button";
@import "theme/shortcodes/vc_cta3";
@import "theme/shortcodes/vc_custom_heading";
@import "theme/shortcodes/vc_pie";
@import "theme/shortcodes/vc_progress_bar";
@import "theme/shortcodes/vc_row";
@import "theme/shortcodes/vc_separator";
@import "theme/shortcodes/vc_single_image";
@import "theme/shortcodes/vc_text_column";
@import "theme/shortcodes/woo_one_page_category_products";
@import "theme/shortcodes/section_scroll";
@import "theme/shortcodes/360degree_image_viewer";
@import "theme/shortcodes/products_filter";