// Make sure the charset is set appropriately
@charset "UTF-8";

// DIRECTIONAL
// ---------------------------------------------------------------
$rtl: 1;
$dir: rtl !default;

@import "theme/theme-imports";
@import "plugins/easy-responsive-tabs/easy-responsive-tabs";
@import "theme/theme-shop";
