/*----------------------------------------------------------------------------*\
	MPC_DATETIME PARAM
\*----------------------------------------------------------------------------*/

#vc_ui-panel-edit-element .wpb_el_type_mpc_datetime .mpc-datetime input {
	width: 150px;
}
