/*PROGRESS BAR*/

.form-table .ywbc_apply_progressbar{
    position: relative;
    height: 25px;
    display: none;
    background: #ebebeb;
}

.form-table .ywbc_apply_progressbar, .form-table .ywbc_apply_progressbar .ui-progressbar-value.ui-widget-header{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

.form-table .ywbc_apply_progressbar_percent{
    position:absolute;
    left:50%;
    top:50%;
    width:300px;
    margin-left:-150px;
    height:25px;
    margin-top:-9px;
    font-weight:bold;
    text-align:center;

}

.form-table .ywbc_apply_progressbar .ui-progressbar-value.ui-widget-header{
    background: #b6e078 url(../images/progressbar.jpg) 50% 50% repeat-x;

}

.ywbc_apply_messages{
    display: none;
}

.ywbc_apply_messages, .ywbc_apply_messages.complete_all_task, .ywbc_apply_messages.error_task{
    border: 1px solid;
    font-size: 13px;
    height: 52px;
    line-height: 52px;
}

.ywbc_apply_messages.complete_all_task, .ywbc_apply_messages.error_task{
    border-color:#a0cf6a;
    background: #f2ffde;
    color: #343434;
}

.ywbc_apply_messages.error_task{

    border-color: #aa2400;
    background: #ffe9e5;
}

.ywbc_apply_messages .ywbc_apply_icon.dashicons.dashicons-yes{
    line-height: 52px;
    color: #5baa00;
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
}

.ywbc_apply_messages .ywbc_apply_icon.dashicons.dashicons-no{
    line-height: 52px;
    color: #aa2400;
    font-size: 28px;
    padding-right: 20px;
    padding-left: 20px;
}
