.woocommerce_options_panel .ywpc-dates .short:first-of-type {
    margin-bottom: 1em;
}

.woocommerce_options_panel .ywpc-dates .short:nth-of-type(2) {
    clear: left;
}

#woocommerce-product-data ul.wc-tabs li.product_countdown_tab a:before {
    content: "\e012";
    font-family: WooCommerce;
}

.ywpc-dates .form-field img.help_tip {
    margin-left: 0;
}

.ywpc-preview {
    width: 100%
}

.ywpc-preview * {
    box-sizing: border-box;
}

.column-ywpc_status {
    width: 10%
}

.mce-i-ywpc_shortcode:before {
    font: normal 20px/1 dashicons;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: '\f321';
}

a#ywpc_shortcode {
    display: none !important;
}