.ypop-header {
    display: table;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    border-bottom: 1px solid;
}

.ypop-wrapper {
    overflow: hidden;
}

.ypop-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 15px 40px;
    line-height: 1.3;
    font-size: 24px;
}

.ypop-wrapper a.close {
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: 1px solid;
}

.pre-content {
    clear: both;
    padding: 20px;
}

.pre-content .ypop-left {
    width: 50%;
    float: left;
}

.pre-content .ypop-right {
    width: 50%;
    float: left;
}

.pre-content p {
    margin-bottom: 10px;
}

.pre-content ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 10px;
}

.pre-content ul li {
    position: relative;
    margin: 5px 0;
    padding-left: 27px;
}

.pre-content ul li:before {
    width: 20px;
    height: 20px;
    display: block;
    content: '';
    position: absolute;
    background-color: red;
    border-radius: 50%;
    left: 0;
    top: 3px;
}

.pre-content ul li:after {
    background: url("../images/bullett.png") no-repeat left;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 10;
    top: 2px;
    left: 5px;
}

.ypop-content-type {
    clear: both;
    padding-top: 10px;
}

.ypop-footer {
    padding: 15px;
    text-align: center;
    font-size: 12px;
}

.ypop-form-newsletter-wrapper {
    margin-top: 10px;
}

.ypop-form-newsletter-wrapper fieldset {
    border: 0;
}

.ypop-form-newsletter-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: table;
    width: 100%;
}

.ypop-form-newsletter-wrapper ul li {
    margin: 10px;
    display: inline-block;
    vertical-align: bottom;
    display: table-cell;
    padding: 0 15px;
}

.ypop-form-newsletter-wrapper .newsletter_form_name input,
.ypop-form-newsletter-wrapper .newsletter_form_email input {
    width: 100%;
    padding: 13px 12px;
    border-radius: 5px;
    border: 0px;
	background-color: #fff;
}

.ypop-content-type {
    padding-bottom: 20px;
}

.ypop-wrapper button, .ypop-content-type .contact-form input[type=submit],
.ypop-content-type .contact-form input[type=submit],
.ypop-product-wrapper .add_to_cart a {
    border-radius: 5px;
    padding: 13px 18px;
    font-size: 16px;
    border-bottom: 4px solid;
    width: 100%;
    white-space: nowrap;
	margin-bottom: 0;

}

.ypop-product-wrapper .add_to_cart {
    margin: 20px 0px;
}

.ypop-product-wrapper .price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}

.ypop-form-newsletter-wrapper label {
    color: #787878;
}

.ypop-submit {
    width: 1px;
}

.ypop-form-newsletter-wrapper .message-box span {
    background-color: #fff;
    border-radius: 10px;
}

.share-container {
    text-align: center;
}

.ypop-product-wrapper.woocommerce .ypop-woo-thumb {
    width: 46%;
    float: left;
    margin: 2%;
}

.ypop-product-wrapper h4 {
    text-align: center;
}

.ypop-product-wrapper .product-info {
    width: 46%;
    float: left;
}

.ypop-form-newsletter-wrapper .ypop-submit {
    text-align: center;
    margin-top: 25px;
}

.ypop-form-newsletter-wrapper .submit-field .custom-icon {
    padding-right: 5px;
}

.ypop-form-newsletter-wrapper .submit-field .custom-icon img {
    max-width: 27px;
    max-height: 25px;
}


.ypop-wrapper button:active {
    border-radius: 0px;
    border-bottom: 0;
    border-top: 0;
}

/*********************/
/* CONTACT FORM 7    */
/*********************/
div.wpcf7 {
    padding: 20px;
}

div.wpcf7 p {
    margin-bottom: 10px;
}

/*********************/
/* YIT CONTACT FORM  */
/*********************/

.ypop-content-type .contact-form ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.ypop-content-type .contact-form fieldset {
    border: 0;
}

div.wpcf7 input,
div.wpcf7 select,
div.wpcf7 textarea,
.ypop-content-type .contact-form input,
.ypop-content-type .contact-form select,
.ypop-content-type .contact-form textarea {
    width: 100%;
    border-radius: 5px;
    border: 0px;
    margin: 10px 0;
    padding: 10px 5px;
}

div.wpcf7 input[type=checkbox],
div.wpcf7 input[type=radio],
.ypop-content-type .contact-form input[type=checkbox],
.ypop-content-type .contact-form input[type=radio] {
    width: auto;
}

div.wpcf7 input[type=submit],
.ypop-content-type .contact-form input[type=submit] {
    width: auto;
    border-radius: 5px;
    padding: 11px 18px;
    font-size: 16px;
    border-bottom: 4px solid;
    white-space: nowrap;
}

.share-container a {
    text-decoration: none;
}

.icon-circle {
    border: 1px solid;
    text-align: center;
    margin: 15px 2px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 20px;
}


@media (max-width: 767px) {

    .pre-content .ypop-right {
        width: 100%
    }

    .pre-content .ypop-left {
        width: 100%;
    }

    .ypop-wrapper {
        overflow: scroll;
        position: absolute !important;
    }

    .ypop-modal.open {
        overflow-y: scroll;
        position: absolute;
    }

    .ypop-overlay {
        position: fixed;
    }
}
