.ywctm-exclusions .column-inquiry_form,
.ywctm-exclusions .column-add_to_cart,
.ywctm-exclusions .column-show_price,
.ywctm-exclusions .column-exclude {
	width: 20%;
	text-align: center;
}

.ywctm-exclusions .column-item_type {
	width: 10%;
	text-align: center;
}

.no-active-form .ywctm_enable_inquiry_form,
.no-active-form .enable_inquiry_form {
	display: none !important;
}

.ywctm-exclusions .form-table {
	border: none !important;
}

.ywctm-exclusions {
	margin: 0 !important;
}

.ywctm-exclusions #custom-table .search-box input[name="s"] {
	padding: 0 8px;
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid #7e8993;
	color: #32373c;
	margin: 0 1px;
	height: auto;
}

.ywctm-exclusions #custom-table .button {
	vertical-align: top;
	line-height: 2.15384615;
	padding: 0 10px;
	margin: 0 1px;
	height: auto;
}

.ywctm-exclusions #custom-table .pagination-links .button {
	line-height: 1.625;
	vertical-align: baseline;
}

.ywctm-exclusions #custom-table .pagination-links input[type=text] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
	height: auto;
	box-shadow: 0 0 0 transparent;
	border-radius: 4px;
	border: 1px solid #7e8993;
	background-color: #fff;
	color: #32373c;
	min-width: auto;
}

.ywctm-exclusions #custom-table .pagination-links input[type=text]:focus {
	border-color: #007cba !important;
	box-shadow: 0 0 0 1px #007cba;
	outline: 2px solid transparent;
}

.ywctm-exclusions #custom-table select {
	line-height: 2;
	border-radius: 3px;
	min-height: 30px;
	max-width: 25rem;
	-webkit-appearance: none;
	background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
	background-size: 16px 16px;
}

.ywctm-exclusions #custom-table .bulkactions {
	margin: 0;
}

.ywctm-exclusions table.form-table span.description {
	display: block;
	margin-top: 10px;
}

.ywctm-exclusions .wrap {
	padding-bottom: 36px;
}

.woocommerce.yith-plugin-fw-panel .yith-plugin-ui table.form-table input.select2-search__field {
	min-width: 150px;
}

.ywctm-metabox-wrapper {
	display: grid;
	grid-template-columns: 60% 38%;
	grid-gap: 2%;
}

@media screen and (max-width: 1280px) {
	.ywctm-metabox-wrapper {
		grid-template-columns: 70% 28%;
	}

	.ywctm-multiple-sliders .option-element {
		grid-template-columns: 10ch 200px;
	}
}

.ywctm-settings-wrapper {
	margin: 0 0 20px 0;
}

.ywctm-button-preview .preview-title,
.ywctm-settings-wrapper .group-title {
	border-bottom: 1px solid #2a8db0;
	margin: 18px 0;
	cursor: pointer;
	position: relative;
	color: #2a8db0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	padding-right: 10px;
}

.ywctm-button-preview .preview-title {
	cursor: default;
}

.ywctm-button-preview {
	position: relative;
}

.ywctm-button-preview .yith-plugin-ui {
	text-align: right;
}

.ywctm-settings-wrapper .group-title:after {
	transform: rotateZ(180deg);
	content: '\e900';
	font-family: 'yith-icon';
	position: absolute;
	right: 10px;
	font-size: 13px;
	color: #2a8db0;
	transition: transform .3s;
}

.ywctm-settings-wrapper.is-opened .group-title:after {
	transform: rotateZ(0deg);
}

.ywctm-settings-wrapper > table {
	display: none;
}

.ywctm-settings-wrapper.is-opened > table {
	display: table;
}

#ywctm-product-metabox .yith-plugin-ui table.form-table,
#ywctm-button-label-metabox .yith-plugin-ui table.form-table {
	border: none;
	margin: 0;
}

#ywctm-button-label-metabox .yith-plugin-ui table.form-table th {
	width: 120px;
	padding-right: 20px;
}

#ywctm-button-label-metabox .yith-plugin-fw-textarea-editor-field-wrapper {
	max-width: 400px;
}

#ywctm-button-label-metabox .yith-plugin-fw-upload-field-wrapper button {
	vertical-align: top !important;
}

#ywctm-button-label-metabox .yit-icons-manager-icon-preview {
	height: 38px;
	width: 38px;
	padding-top: 10px;
}

#ywctm-button-label-metabox .yit-icons-manager-icon-text {
	width: calc(100% - 43px) !important;
}

#ywctm-button-label-metabox .yith-plugin-fw-upload-field-wrapper input {
	width: 230px;
}

.mce-fontawesome-panel .mce-container-body > .mce-container,
.mce-fontawesome-panel .mce-container-body > .mce-container > .mce-container-body {
	height: auto !important;
	width: 670px;
}

.mce-fontawesome-panel .mce-container-body > .mce-container ul {
	margin: 0 !important;
}

body.post-type-ywctm-button-label #ywctm-button-label-metabox h2.hndle,
body.post-type-ywctm-button-label #ywctm-button-label-metabox .handlediv,
body.post-type-ywctm-button-label div#postbox-container-1,
body.post-type-ywctm-button-label .columns-prefs {
	display: none !important;
}

.ywctm-taxonomy-panel.yith-plugin-ui {
	background: #ffffff;
}

.ywctm-taxonomy-panel h2 {
	border: none;
}

.ywctm-taxonomy-panel table.form-table {
	border: none;
	margin: 0 20px;
}

a.ywctm_back_button {
	text-decoration: none;
	padding: 8px;
	padding-left: 0;
	display: inline-block;
}
