.porto-u-icons {
    display: block;
    margin-bottom: 35px;
    line-height: 1
}
.porto-icons-left.porto-u-icons {
    text-align: $left;
}
.porto-icons-center.porto-u-icons {
    text-align: center
}
.porto-icons-right.porto-u-icons {
    text-align: $right;
}
