.porto-image-comparison {
	overflow: hidden;
	position: relative;
	z-index: 0;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.elementor-editor-active & {
		pointer-events: none;
	}

	img {
		position: absolute;
		top: 0;
		width: 100%;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.porto-image-comparison-before {
	z-index: 16
}

.porto-image-comparison-after {
	z-index: 8
}

.porto-image-comparison-handle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.5rem;
	margin-left: -1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: move;
	width: 3rem;
	height: 3rem;
	z-index: 25;
	color: #fff;
	border: 3px solid;
	border-radius: 1.5rem;
	font-size: 1.25rem;

	&, &:before, &:after {
		box-shadow: 0 0 5px rgba(0, 0, 0, .08);
	}

	&:before, &:after {
		content: '';
		position: absolute;
		height: 100vh;
		left: 50%;
		margin-left: -1.5px;
		border-left: 3px solid;
		bottom: 50%;
		margin-bottom: 1.5rem;

		.porto-image-comparison-vertical & {
			border-left: none;
			border-top: 3px solid;
			width: 100vw;
			height: auto;
			right: 50%;
			bottom: auto;
			left: auto;
			margin: -1.5px 1.5rem 0 0;
		}
	}
	&:after {
		bottom: auto;
		top: 50%;
		margin: 1.5rem 0 0 -1.5px;

		.porto-image-comparison-vertical & {
			top: auto;
			left: 50%;
			margin: -1.5px 0 0 1.5rem;
		}
	}


}