/* Tabs */
.resp-tab-content {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    border-top: 0;
    padding: 15px;

    @media #{$screen-medium} {
        border-radius: 0 !important;
        border-top: none;
        box-shadow: none;
    }

    .panel {
        display: block !important;
    }
}
.resp-tabs-list {
    margin: 0;

    li {
        display: inline-block;
        float: none;
        font-size: 1em;
        font-weight: normal;
        margin-#{$right}: 1px;
        padding: 10px 15px;

        &:last-child {
            margin-#{$right}: 0;
        }
        &,
        &:hover {
            border-bottom: none;
        }

        &:hover {
            border-bottom-color: transparent;
            border-top: 3px solid #CCC;
            box-shadow: none;
        }

        &:active,
        &:focus {
            border-bottom: 0;
        }

        &.resp-tab-active {
            border-top: 3px solid #CCC;
            padding: 10px 15px 11px !important;
        }
    }
}

.resp-vtabs {
    display: table !important;
    width: 100%;

    @media #{$screen-medium} {
        display: block;
    }

    ul.resp-tabs-list,
    .resp-tabs-container {
        display: table-cell;
        width: auto;
        float: none;
        vertical-align: top;
    }
    ul.resp-tabs-list {
        width: 25%;

        @media #{$screen-medium} {
            display: none;
        }
    }
    .resp-tabs-container {
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);

        @media #{$screen-medium} {
            display: block;
            box-shadow: none;
            border: none;
        }
    }
    .resp-tab-content {
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        border-width: 0;
        &:before {
            content:"";
            display:block;
        }
        @media #{$screen-medium} {
            border: 1px solid;
            border-top: none;
        }
    }
    .resp-tabs-list {
        border-bottom: 0;

        li {
            border-radius: 0;
            margin-#{$right}: 0;
            padding: 10px 15px !important;

            &,
            &:hover {
                border-#{$right}: none;
                border-top: none;
                border-bottom: none;
            }

            &:hover {
                border-#{$right}-color: transparent;
                border-#{$left}: 3px solid #CCC;
            }

            &:active,
            &:focus {
                border-#{$right}: 0;
            }

            &.resp-tab-active {
                margin-bottom: 0 !important;
                padding: side-values(10px 16px 10px 15px) !important;
                border-#{$left}: 3px solid #CCC;
                margin-#{$right}: -1px !important;
            }
        }
    }
}

h2.resp-accordion {
    padding: 15px !important;
    line-height: 1.4;
    font-size: 1em;
    font-weight: 400;

}
.resp-arrow {
    display: none;
}
.resp-easy-accordion {
    .resp-tab-content {
        border-radius: 0;
        border-top: none;
        box-shadow: none;
    }
}

.tab-content {
    padding: 15px;

    h2 {
        font-size: 1.4286em;
        line-height: 1.4;
        font-weight: 400;
        margin-bottom: 1.0714em;
    }

    p {
        margin-bottom: 10px;
    }

    table {
        margin-top: 20px;
        p {
            margin: 0;
        }
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.tabs {
    margin-bottom: 35px;
}

.nav-tabs {
    margin: 0;
    text-align: $left;

    &.text-left {
        text-align: $left;
    }

    &.text-right {
        text-align: $right;
    }

    &.text-center {
        text-align: center;
    }

    li {

        &:last-child {
            .nav-link {
                margin-#{$right}: 0;
            }
        }

        .nav-link {
            margin-#{$right}: 1px;
            font-size: 14px;

            &,
            &:hover {
                border-bottom: none;
            }

            &:hover {
                border-bottom-color: transparent;
                box-shadow: none;
            }

            &:active,
            &:focus {
                border-bottom: 0;
            }

            i {
                margin-#{$right}: 4px;
                &.icon-image {
                    display: inline-block;
                    max-width: 20px;
                }
                &.icon-featured.icon-image {
                    max-width: 75px;
                }
            }

            .featured-box,
            .featured-box .box-content {
                background: transparent;
                box-shadow: none;
                border-radius: 0;
                border-width: 0;
                padding: 0;
                margin: 0;
            }

            .featured-box {
                i.icon-featured {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .tab-title {
                display: block;
                margin-top: 3px;
            }
        }
    }
}

.tab-content {
    border: 1px solid;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    border-top: 0;
    padding: 15px;
}

/* Bottom Tabs */
.tabs.tabs-bottom {
    .nav-tabs {
        li {
            margin-bottom: 0;
            margin-top: -1px;

            &:last-child {
                .nav-link {
                    margin-#{$right}: 0;
                }
            }

            .nav-link {
                margin-#{$right}: 1px;
                font-size: 14px;
                &,
                &:hover {
                    border-bottom: 3px solid;
                }
            }
        }
    }
}

/* Vertical */
.tabs-vertical {
    display: table;
    table-layout: fixed;
    width: 100%;
    direction: ltr;
    border-top: 1px solid;

    .tab-content {
        display: table-cell;
        vertical-align: top;
        direction: if-ltr(ltr, rtl);
        text-align: $left;
    }

    .nav-tabs {
        border-bottom: none;
        display: table-cell;
        height: 100%;
        float: none;
        padding: 0;
        vertical-align: top;
        width: 25%;
        /*@media #{$screen-normal} {
            width: 100%;
        }*/

        & > li {
            display: block;

            .nav-link {
                border-radius: 0;
                display:block;
                padding-top: 10px;
                text-align: $left;

                &,
                &:hover,
                &:focus {
                    border-bottom: none;
                    border-top: none
                }
            }

            &.active {
                a,
                a:hover,
                &:focus {
                    border-top: none;
                }
            }
        }
    }
}

/* Vertical - Left Side */
.tabs-left {
    .tab-content {
        border-left: none;
    }

    .nav-tabs {
        & > li {
            margin-right: -1px;

            .nav-link {
                margin-right: 1px;
                margin-left: 1px;

                &:hover {
                    border-left-color: #CCC;
                }
            }

            &.active {
                .nav-link,
                .nav-link:hover,
                .nav-link:focus {
                    border-left: 3px solid #CCC;
                }
            }
        }
    }
}

/* Vertical - Right Side */
.tabs-right {

    .tab-content {
        border-right: none;
    }

    .nav-tabs {
        & > li {
            margin-left: -1px;

            .nav-link {
                margin-right: 1px;
                margin-left: 1px;

                &:hover {
                    border-right-color: #CCC;
                }
            }

            &.active {
                .nav-link,
                .nav-link:hover,
                .nav-link:focus {
                    border-right: 3px solid #CCC;
                }
            }
        }
    }
}

/* Justified */
.nav-tabs.nav-justified {
    padding: 0;
    margin-bottom: -1px;

    li {
        margin-bottom: 0;

        .nav-link {
            border-radius: 0;
            margin-#{$right}: 0;
        }
    }
}

/* Bottom Tabs with Justified Nav */
.tabs.tabs-bottom {
    .nav.nav-tabs.nav-justified {
        border-top: none;
        li {
            .nav-link {
                margin-#{$right}: 0;
            }

            &:last-child {
                .nav-link {
                    margin-#{$right}: 0;
                }
            }
        }
    }
}

/* Center */
.tabs-center {
    .nav-tabs {
        margin: 0 auto;
        text-align: center;
    }
}

/* Navigation */
.tabs-navigation {
    border-width: 0;
    .nav-tabs {
        > li {
            margin-bottom: 1px;
            .nav-link {
                color: #777;
                padding: 14px;
                line-height: 100%;
                position: relative;
                &:before {
                    font-family: 'Font Awesome 5 Free'; font-weight: 900;
                    position: absolute;
                    content: if-ltr($fa-var-chevron-right, $fa-var-chevron-left);
                    #{$right}: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                i {
                    margin-#{$right}: 6px;
                }
            }
        }
    }
    .tab-content {
        background: transparent;
        border-width: 0;
        box-shadow: none;
        padding: 0 25px;
    }
}

/* Simple */
.tabs.tabs-simple {
    .nav-tabs {
        -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
        border: 0;
        margin-bottom: 10px;
        > li {
            margin-#{$left}: 0;
            margin-bottom: $spacement-lg;
            text-align: center;
            .nav-link, .nav-link:hover, .nav-link:focus {
                padding: 15px 30px;
                background: none;
                border: 0;
                border-bottom: 3px solid;
                border-radius: 0;
                font-size: 16px;
            }
        }
    }
    .tab-content {
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
}

/* Responsive */
@media (max-width: 991px) {
    .tabs-navigation {
        display: block;

        .nav-tabs {
            display: block;
            width: auto;
        }

        .tab-content {
            padding: 25px 0;
        }
    }
}
@media (max-width: 575px) {

    .tabs {
        .nav.nav-tabs.nav-justified {
            li {
                display: block;
                margin-bottom: -5px;
                .nav-link {
                    border-top-width: 3px !important;
                    border-bottom-width: 0 !important;
                }
                &:last-child .nav-link,
                &:last-child .nav-link:hover {
                    border-radius: 0;
                }
                &.active {
                    .nav-link {

                    }
                }
            }
        }
        &.tabs-bottom {
            .nav.nav-tabs.nav-justified {
                li {
                    margin-bottom: 0;
                    margin-top: -5px;
                    .nav-link {
                        border-bottom-width: 3px !important;
                        border-top-width: 0 !important;
                    }
                    &:first-child .nav-link,
                    &:first-child .nav-link:hover {
                        border-radius: 0;
                    }
                }
            }
        }
    }
}