/* Visual Composer Progress Bar */
.vc_progress_bar .vc_single_bar.progress,
.progress {
    height: 20px;
    margin-bottom: 15px;
    box-shadow: none;
    overflow: visible;
    &,
    & .progress-bar {
        border-radius: 20px;
    }

    &.progress-border-radius {
        &,
        & .progress-bar {
            border-radius: 3px;
        }
    }

    &.progress-no-border-radius {
        &,
        & .progress-bar {
            border-radius: 0;
        }
    }

    &.progress-sm {
        height: 10px;
        .progress-bar {
            line-height: 10px;
        }
    }

    &.progress-lg {
        height: 35px;
        .progress-bar {
            font-size: 13px;
            line-height: 35px;
        }
    }
}
.vc_progress_bar .vc_single_bar.progress .vc_bar,
.progress-bar {
    float: $left;
    background-color: #CCC;
    box-shadow: none;
    position: relative;

    @each $state in $states {
        &.progress-bar-#{nth($state,1)} {
            background-color: #{nth($state,2)};
            color: #{nth($state,3)};
        }
    }
}

.progress-bar-tooltip {
    position: absolute;
    padding: 4px 8px;
    background-color: #333;
    color: #FFF;
    line-height: 15px;
    font-size: 11px;
    display: block;
    position: absolute;
    top: -28px;
    #{$right}: 5px;
    opacity: 0;
    &:after {
        border-color: #333 transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        bottom: -5px;
        content: "";
        display: block;
        #{$left}: 13px;
        position: absolute;
        width: 0;
    }
}

.vc_progress_bar .vc_single_bar.progress {
    &.bar_blue {
        .vc_bar {
            background-color: #0074CC;
        }
    }
    &.bar_turquoise {
        .vc_bar {
            background-color: #49afcd;
        }
    }
    &.bar_green {
        .vc_bar {
            background-color: #5bb75b;
        }
    }
    &.bar_orange {
        .vc_bar {
            background-color: #faa732;
        }
    }
    &.bar_red {
        .vc_bar {
            background-color: #da4f49;
        }
    }
    &.bar_black {
        .vc_bar {
            background-color: #414141;
        }
    }
}
.vc_progress_bar .vc_single_bar .progress-bar {
    display: -ms-flexbox;
    display: flex;
}