/* Visual Composer Grid */
.vc_row {
    &.wpb_row {
        margin-bottom: 0;

        &.vc_row-no-padding > .vc_column_container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.section-with-divider {
        overflow: visible;
    }
    &:not(.row) {
        margin-left: 0;
        margin-right: 0;
    }
}

body {
    .row {
        &.vc_column-gap-1{
            margin-left: -0.5px;
            margin-right: -0.5px;
            > .vc_column_container {
                padding: .5px;
            }
        }
        &.vc_column-gap-2{
            margin-left: -1px;
            margin-right: -1px;
            > .vc_column_container {
                padding: 1px;
            }
        }
        &.vc_column-gap-3{
            margin-left: -1.5px;
            margin-right: -1.5px;
            > .vc_column_container {
                padding: 1.5px;
            }
        }
        &.vc_column-gap-4{
            margin-left: -2px;
            margin-right: -2px;
            > .vc_column_container {
                padding: 2px;
            }
        }
        &.vc_column-gap-5{
            margin-left: -2.5px;
            margin-right: -2.5px;
            > .vc_column_container {
                padding: 2.5px;
            }
        }
        &.vc_column-gap-10{
            margin-left: -5px;
            margin-right: -5px;
            > .vc_column_container {
                padding: 5px;
            }
        }
        &.vc_column-gap-15{
            margin-left: -7.5px;
            margin-right: -7.5px;
            > .vc_column_container {
                padding: 7.5px;
            }
        }
        &.vc_column-gap-20{
            margin-left: -10px;
            margin-right: -10px;
            > .vc_column_container {
                padding: 10px;
            }
        }
        &.vc_column-gap-25{
            margin-left: -12.5px;
            margin-right: -12.5px;
            > .vc_column_container {
                padding: 12.5px;
            }
        }
        &.vc_column-gap-30{
            margin-left: -15px;
            margin-right: -15px;
            > .vc_column_container {
                padding: 15px;
            }
        }
        &.vc_column-gap-35{
            margin-left: -17.5px;
            margin-right: -17.5px;
            > .vc_column_container {
                padding: 17.5px;
            }
        }
    }
}

.vc_column_container > .vc_column-inner {
    padding: 0;
}
.vc_row .vc_column_container > .wpb_wrapper.vc_column-inner {
    padding-top: 0;
}

/* Visual Composer Alert */
body {
    .wpb_alert {
        padding: 15px;
        .messagebox_text {
            background-image: none;
            padding-#{$left}: 0;
        }
    }
    .vc_message_box-icon > * {
        transform: translate(-50%, -50%);
    }
}
.vc_message_box .alert-link {
    font-weight: bold;
}

/* Visual Composer Slider */
body {
    .wpb_gallery .wpb_flexslider .flex-control-nav {
        bottom: -50px;
    }
}

/* Visual Composer Flickr */
.wpb_content_element {
    &.wpb_flickr_widget {
        margin-bottom: 15px;
    }
}

/* Visual Composer Others */


/* Nivo Slider */
.wpb_gallery .theme-default {
    .nivoSlider {
        box-shadow: none;
    }
    .nivo-controlNav {
        padding-top: 20px;
    }
}
.wpb_gallery {
    &.nav-right {
        .nivo-controlNav {
            float: $right;
        }
    }
    &.nav-left {
        .nivo-controlNav {
            float: $left;
        }
    }
}