@if $elementId != false {
	.single-description-$elementId {
		@if $despFontSize != false {
			font-size: $despFontSize;
		}
		@if $despFontWeight != false {
			font-weight: $despFontWeight;
		}
		@if $despLineHeight != false {
			line-height: $despLineHeight;
		}
		@if $despLetterSpacing != false {
			letter-spacing: $despLetterSpacing;
		}
		@if $spDescriptionColor != false {
			color: $spDescriptionColor;
		}
	}
}
