/**
 * Admin style
 *
 * @author Your Inspiration Themes
 * @package YITH WooCommerce Ajax Search
 * @version 1.1.1
 */

.yith_woocommerce_slider {
	width: 300px; 
	float: left 
}
.yith_woocommerce_slider_value {
	margin-top: -5px; 
	margin-left: 10px; 
	width: 50px; 
	float: left; 
	text-align: center; 
	font-weight: bold;
}

.yith_banner {
    margin-top: 10px;
}