/* ADMIN DATA TABLE */

#yith-wfbt-data-table tbody td {
    vertical-align: middle;
}
#yith-wfbt-data-table tbody th {
    vertical-align: middle;
    text-align: center;
}
#yith-wfbt-data-table tbody th input {
    margin-top: -5px;
}

#yith-wfbt-data-table td.column-actions a{
    margin: 0 5px;
}
#yith-wfbt-data-table td.column-product div {
    display: inline-block;
    vertical-align: middle;
}
#yith-wfbt-data-table td.column-product .product-image img {
    max-width: 50px;
    height: auto;
}
#yith-wfbt-data-table td.column-product .product-name {
    margin-left: 5px;
}

#yith-wfbt-data-table td.column-linked .delete-linked {
    color: #e41919;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

#yith-wfbt-data-table tbody td.column-actions,
#yith-wfbt-data-table thead th.column-actions {
    text-align: center;
}

/* ADMIN DATA TABLE */

.yith-wfbt .add-new-h2,
.yith-wfbt .add-new-h2:active {
    margin-left: 15px;
}
#yith-wfbt-data-table td.column-status span.in-stock {
    color: #77a464;
}
#yith-wfbt-data-table td.column-status span.out-of-stock {
    color: #ff0000;
}

.yith_image_size_wrap {
    display: flex;
    align-items: center;
}
.yith_image_size_wrap span {
    padding: 0 5px;
}
.yith_image_size_wrap label {
    margin-left: 10px;
}

#yith_wfbt_data_option .coupon-disabled-error {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #ff0000;
    margin: 10px 10px;
    padding: 1px 12px;
    font-size: 13px;
}

#woocommerce-product-data ul.wc-tabs li.yith-wfbt_options a::before {
    content: "\f105";
}