/*----------------------------------------------------------------------------*\
	FLIPBOX SHORTCODE - Panel
\*----------------------------------------------------------------------------*/
.wpb_mpc_flipbox > .wpb_element_wrapper .ui-tabs .ui-tabs-nav {
	position: relative;
	top: 1px;
	z-index: 2;
	padding: .2em 0 0;
	border-right: 1px dotted #e6e6e6;

	li {
		width: 50%;
		margin: 0;
		padding: 0;
		border: 0;
		top: -1px;
		background: #E6E6E6 !important;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;

		a {
			display: inline-block;
			width: 100%;
			padding: 10px 0;
			text-align: center;
			color: #848c91;
			outline: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		&.add_tab_block {
			display: none;
			visibility: hidden;
			opacity: 0;
		}

		&.ui-tabs-active {
			background: #ffffff !important;
		}
	}
}

.wpb_mpc_flipbox > {
	.wpb_element_wrapper .wpb_tabs_holder,
	.wpb_element_wrapper .tabs_controls {
		padding: 0;
	}

	.vc_controls {
		position: relative;
		height: 23px;
		margin: 18px 0 2px 0;
		opacity: 1 !important;
		filter: alpha(opacity=100) !important;
		visibility: visible;
		border: 1px dotted #e6e6e6;
		border-bottom-width: 0;
	}

	.wpb_element_wrapper {
		padding: 0px !important;
		background: none !important;
		border: none !important;
		height: auto;
	}
}

.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_mpc_flipbox_side {
	background-color: #ffffff;
	margin-top: 0;
}
.wpb_mpc_flipbox_side > .vc_controls {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
	visibility: visible;
	height: 35px;
	background: transparent;
	position: relative;
}

