@page
@model AspnetCoreFull.Pages.Auth.ForgotPassword.CoverModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Forgot Password Cover - Pages";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="/" class="auth-cover-brand d-flex align-items-center gap-2">
    <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
    <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">

    <!-- /Left Section -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-5 pb-2">
      <img src="~/img/illustrations/auth-forgot-password-illustration-light.png" class="auth-cover-illustration w-100" alt="auth-illustration" data-app-light-img="illustrations/auth-forgot-password-illustration-light.png" data-app-dark-img="illustrations/auth-forgot-password-illustration-dark.png" />
      <img src="~/img/illustrations/auth-cover-forgot-password-mask-light.png" class="authentication-image" alt="mask" data-app-light-img="illustrations/auth-cover-forgot-password-mask-light.png" data-app-dark-img="illustrations/auth-cover-forgot-password-mask-dark.png" />
    </div>
    <!-- /Left Section -->

    <!-- Forgot Password -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg p-sm-5 p-4">
      <div class="w-px-400 mx-auto">
        <h4 class="mb-2 fw-semibold">Forgot Password? 🔒</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form id="formAuthentication" class="mb-3" action="/Auth/ResetPassword/Cover" method="GET">
          <div class="form-floating form-floating-outline mb-3">
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" autofocus>
            <label for="email">Email</label>
          </div>
          <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
        </form>
        <div class="text-center">
          <a href="/Auth/Login/Cover" class="d-flex align-items-center justify-content-center">
            <i class="mdi mdi-chevron-left scaleX-n1-rtl mdi-24px"></i>
            Back to login
          </a>
        </div>
      </div>
    </div>
    <!-- /Forgot Password -->
  </div>
</div>
