/*
 * This file belongs to the YIT Framework.
 *
 * This source file is subject to the GNU GENERAL PUBLIC LICENSE (GPL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.gnu.org/licenses/gpl-3.0.txt
 */

.group:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow: hidden;
}

.yit-opened {
    overflow: hidden;
}
.ypop-modal{
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	opacity: 0;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;

}

.ypop-modal:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.ypop-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 0, 0, 0, 0.8);
	z-index: -1;

}

.ypop-wrapper{
	display: inline-block;
	vertical-align: middle;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	text-align: left;
	position: relative;

}

.ypop-container {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.2);
}

.ypop-modal.open,
.ypop-modal.open .ypop-wrapper {
	visibility: visible;
	opacity: 1;
}

.ypop-modal.open .ypop-container {
	opacity: 1;
}

/* overlay */
/*.ypop_overlay {*/
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDcwNzA3IiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGUwZTBlIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
    /*background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(7,7,7,0.7) 50%, rgba(14,14,14,0.7) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(50%,rgba(7,7,7,0.7)), color-stop(100%,rgba(14,14,14,0.7))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(7,7,7,0.7) 50%,rgba(14,14,14,0.7) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(7,7,7,0.7) 50%,rgba(14,14,14,0.7) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(7,7,7,0.7) 50%,rgba(14,14,14,0.7) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(7,7,7,0.7) 50%,rgba(14,14,14,0.7) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b30e0e0e',GradientType=0 ); *//* IE6-8 */
    /*display: none;*/
    /*position:fixed;*/
    /*left:0;*/
    /*top:0;*/
    /*width:100%;*/
    /*height:100%;*/
    /*z-index:998;*/
/*}*/

/* popup general */
/*.ypop_wrapper {
    z-index:999;
    min-height: 330px;
    width: 680px;

}

#ypop-border{
    margin: 20px;
    min-height: 290px;
}
*/
.ypop-wrapper a.close {
    width: 30px;
    height: 30px;
    background: transparent url('../images/close-buttons/close1.png') top left no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 1;
    cursor: pointer;
}


#ypop-right,#ypop-left{
    float: left;
    width: 310px;
    min-height: 272px;
    top: 10px;
    position: relative;
}

/* If not image */
div#ypop-right.ypop-full{
    width: 630px;
    top: 20px;
    right: 0;
}

div#ypop-right.ypop-full input.name-field.text-field,div#ypop-right.ypop-full input.email-field.text-field{
    width: 626px;
    left: -6px;
    position: relative;
}

div#ypop-right.ypop-full input.submit-field.newslettersubmit{
    left: -5px;
}

#ypop-left {
    left: -6px;
}

#ypop-right {
    right: -15px;
}
/* Top - Title */


/* Left side - Image and checkbox */

figure#ypop-image{
    height: 240px;
}

figure#ypop-image img{
    max-width: 100%;
    max-height: 250px ;
}

.no-view.ypop-checkbox {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    float: left;
    border: none 0;
    background-color: transparent;
    margin: 0px 6px 0 0;
}

.ypop-checkzone {
    font-size: 11px;
    background-color: #ccc;
    text-align: left;
    padding: 6px;
}
/* Right side - description, newsletter and submit */
#ypop-right .price {
    position: relative;
    top: 6px;
}
#ypop-message{
    min-height: 146px;
    line-height: 20px;
}

.ypop-newsletter-form {
    height: 100px;
}
.ypop-checkzone input.no-view{
    display: none;
}

.ypop-checkzone input.no-view+span{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../images/checkbox-button.png') no-repeat center bottom;
    float: left;
    margin-right: 8px;
}

.ypop-checkzone input.no-view:checked+span {
    background-position: center top ;
}

.ypop-form-newsletter-wrapper .message-box span{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    display: block;
}
.ypop-form-newsletter-wrapper .message-box .error{
    color: red;
    border-color: red;
}
.ypop-form-newsletter-wrapper .message-box .success{
    color: #35b000;
    border-color: #35b000;
}
.ypop-form-newsletter-wrapper .message-box .notice{
    color: #3ea2ff;
    border-color: #3ea2ff;
}
.ypop-form-newsletter-wrapper .ypop-submit .custom_icon{
    margin-right: 10px;
}

#yithider_ypop {
    line-height: 1.428571429;
    -webkit-appearance: none;
}

.newsletter-section.newsletter-shortcode ul {
    list-style: none;
}

.ypop-container{
    display: none;
}

/*********************/
/* YIT CONTACT FORM  */
/*********************/

.ypop-content-type .contact-form ul{
    list-style: none;
    padding-left: 0px;
}

.ypop-content-type .contact-form fieldset{
    border: 0;
}

.ypop-content-type .contact-form input,
.ypop-content-type .contact-form textarea {
    width: 100%;
    margin: 10px 0;
}
.contact-form-error-messages{
    display: none;
}
.user-message{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 20px;
    display: block;
}
.user-message.error{
    color: red;
    border-color: red;
}
.user-message.success{
    color: #35b000;
    border-color: #35b000;
}
.user-message.notice{
    color: #3ea2ff;
    border-color: #3ea2ff;
}
.user-message p{
    margin-bottom: 0;
}
.msg-error{
    text-align: left;
    font-size: 0.8em;
    color: red;
    margin-top: -8px;
}

.ypop-footer img {
    display: inline-block;
}



p#ypop_privacy_description_row {
    font-size: 0.8em;
}

p#ypop_privacy_row {
    display: table;
}

input#ypop_privacy_ypop {
    display: table-cell;
}

#ypop_privacy_row label {
    display: table-cell;
    padding: 0 5px;
}
/* Media Queries */
@media (min-width: 768px) and (max-width: 979px) {

}

@media(max-width: 767px) {
    .ypop-wrapper{
        overflow: visible;
    }
}