/*----------------------------------------------------------------------------*\
	DIVIDER SHORTCODE
\*----------------------------------------------------------------------------*/
.mpc-divider { position: relative; display: table; width: 100%; }

.mpc-divider.mpc-align--left { margin-left: 0 !important; margin-right: auto !important; }

.mpc-divider.mpc-align--center { margin-left: auto !important; margin-right: auto !important; }

.mpc-divider.mpc-align--right { margin-left: auto !important; margin-right: 0 !important; }

.mpc-divider__line { display: table-cell; width: 50%; vertical-align: middle; }

.mpc-disable--left .mpc-divider__line.mpc-side--left { display: none; }

.mpc-disable--right .mpc-divider__line.mpc-side--right { display: none; }

.mpc-divider__line > span { border-color: transparent; display: block; }

.mpc-divider__line > span:first-child { margin-top: 0 !important; }

.mpc-divider__separator { display: table-cell; }

.mpc-divider .mpc-divider__content { display: block; padding: 0 10px; white-space: nowrap; }

.mpc-divider .mpc-divider__content img { max-width: none; }
