/*----------------------------------------------------------------------------*\
	SINGLE POST SHORTCODE - Panel
\*----------------------------------------------------------------------------*/
.vc_wrapper-param-type-sorted_list[data-param_name="meta_layout"] {
	.ui-sortable-handle {
		display: inline-block;
	}
}
