/**
 * Globals
 */

.yith-pos-required-field-message {
    font-weight : 600;
    margin-left : 5px;
}

.yith-pos-big-button {
    padding : 4px 15px !important;
}

/**
 * Compact List
 */
.yith-pos-compact-list {
    margin-bottom : 10px;
}

.yith-pos-compact-list__hidden-items {
    display : none;
}

.yith-pos-compact-list__show-more,
.yith-pos-compact-list__hide-more {
    display     : inline-block;
    cursor      : pointer;
    color       : #2a8db0;
    position    : relative;
    font-weight : 600;
}

.yith-pos-compact-list__show-more:hover,
.yith-pos-compact-list__hide-more:hover {
    text-decoration : underline;
}

.yith-pos-compact-list__show-more .yith-icon,
.yith-pos-compact-list__hide-more .yith-icon {
    margin-left     : 3px !important;
    line-height     : 1em !important;
    font-size       : inherit !important;
    text-decoration : none;
    display         : inline-block;
    position        : absolute;
    bottom          : 2px;
    left            : 100%;
}

.yith-pos-compact-list__show-more .yith-icon:before,
.yith-pos-compact-list__hide-more .yith-icon:before {
    color : inherit;
}

.yith-pos-compact-list__hide-more {
    display : none;
}

.yith-pos-compact-list--open .yith-pos-compact-list__hide-more {
    display : inline-block;
}

.yith-pos-compact-list--open .yith-pos-compact-list__show-more {
    display : none;
}

/**
 * Create User Form
 */

.yith-pos-create-user-form__container {
    margin : 10px 0;
}

.yith-pos-create-user-form {
    padding       : 25px;
    margin        : 15px 0;
    border        : 1px solid #d9d9d9;
    border-radius : 4px;
    display       : none;
    max-width     : 1000px;
}

.yith-pos-create-user-form h3 {
    padding     : 0 0 30px 0 !important;
    margin-left : 0 !important;
    font-size   : 14px !important;
}

.yith-pos-create-user-form__row {
    display               : grid;
    grid-template-columns : 150px 1fr;
    grid-column-gap       : 10px;
    margin-bottom         : 40px;
}

label.yith-pos-create-user-form__label {
    display : block !important;
    margin  : 0 !important;
    float   : none !important;
}

.yith-plugin-fw--required label.yith-pos-create-user-form__label:after {
    content     : '*';
    color       : #ea0034;
    font-weight : 800;
    margin-left : 4px;
}

.yith-pos-create-user-form__actions {
    text-align : right;
}

/**
 * Settings Box
 */

.yith-pos-settings-box {
    border        : 1px solid #d9d9d9;
    border-radius : 4px;
    margin        : 20px 0;
}

.yith-pos-settings-box:after {
    content : "";
    display : table;
    clear   : both;
}

.yith-pos-settings-box__header {
    position     : relative;
    border-color : #ccc;
    border-width : 1px 0;
}

.yith-pos-settings-box__title {
    margin      : 0;
    padding     : 20px 66px 20px 56px;
    display     : inline-block;
    position    : relative;
    min-width   : 173px;
    box-sizing  : border-box;
    font-weight : 400;
    font-size   : 16px;
}

.yith-pos-settings-box__content {
    padding : 20px;
}

.yith-pos-settings-box__toggle,
.yith-pos-settings-box__enabled {
    position      : absolute;
    top           : 50%;
    width         : 35px;
    height        : 35px;
    border-radius : 50%;
    transform     : translateY(-50%);
    color         : #333;
    cursor        : pointer;
}

.yith-pos-settings-box__toggle {
    left : 10px;
}

.yith-pos-settings-box__toggle:hover {
    background : rgba(0, 0, 0, 0.05);
}

.yith-pos-settings-box__enabled {
    right : 15px;
    width : 55px;
}

.yith-pos-settings-box__toggle > span,
.yith-pos-settings-box__enabled > div {
    position   : absolute;
    right      : 50%;
    top        : 50%;
    transform  : translateX(50%) translateY(-50%);
    transition : transform .3s;
}

.yith-pos-settings-box.yith-pos-settings-box--closed .yith-pos-settings-box__content {
    display : none;
}

.yith-pos-settings-box.yith-pos-settings-box--closed .yith-pos-settings-box__toggle span {
    transform : translateX(50%) translateY(-50%) rotateZ(180deg);
}

.yith-pos-settings-box__content__row {
    display               : grid;
    grid-template-columns : 200px 1fr;
    margin-bottom         : 40px;
    grid-column-gap       : 20px;
}

.yith-pos-settings-box__content__row--hidden {
    display : none;
}

.yith-pos-settings-box__content__row__label {
    padding : 0 0 20px 0;
}

.yith-plugin-fw--required .yith-pos-settings-box__content__row__label:after {
    content     : '*';
    color       : #ea0034;
    font-weight : 800;
    margin-left : 4px;
}

.yith-pos-settings-box__actions {
    padding    : 15px 0;
    text-align : right;
}

.yith-pos-settings-box__actions > span {
    margin-left : 10px;
}

/**
 * Notices
 */
.yith-pos-admin-notice {
    position      : relative;
    padding       : 15px 15px 15px 45px;
    color         : #4d4b4b;
    margin-bottom : 30px;
    border-radius : 5px;
    background    : #f6f6f6;
    border        : 1px solid #4d4b4b33;
    font-weight   : 600;
    font-size     : 14px;
    text-align    : left;
}


.yith-pos-admin-notice:before {
    content     : "\e922";
    color       : inherit;
    position    : absolute;
    top         : 50%;
    left        : 13px;
    font-family : 'yith-icon';
    font-size   : 21px;
    transform   : translateY(-50%);
    font-weight : 400;
}

.yith-pos-admin-notice--success {
    background-color : #f7fbe9;
    color            : #7b9424;
    border-color     : #98aa3655;
}

.yith-pos-admin-notice--success:before {
    content : '\e921';
}

.yith-pos-admin-notice--error {
    background-color : #ffe5e5;
    color            : #c21111;
    border-color     : #e1161644;
}

.yith-pos-admin-notice--error:before {
    content : '\e923';
}

.yith-pos-admin-notice--warning {
    background-color : #fff2e5;
    color            : #c27111;
    border-color     : #e18e1644;
}

.yith-pos-admin-notice--warning:before {
    content : '\e923';
}

.yith-pos-admin-notice__dismiss {
    cursor        : pointer;
    position      : absolute;
    width         : 32px;
    height        : 32px;
    border-radius : 50%;
    right         : 15px;
    top           : 50%;
    transform     : translateY(-50%);
}

.yith-pos-admin-notice__dismiss:hover:before {
    box-shadow    : 0 0 0 50px inset;
    content       : '';
    position      : absolute;
    width         : 100%;
    height        : 100%;
    top           : 0;
    left          : 0;
    border-radius : 50%;
    opacity       : .1;
}

.yith-pos-admin-notice__dismiss:after {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    font-family : 'yith-icon';
    content     : '\e906';
    font-size   : 12px;
    transform   : translateY(-50%) translateX(-50%);
}

/**
 * Post Status
 */

.yith-pos-post-status {
    font-weight    : 600;
    text-transform : uppercase;
    color          : #858777;
}

.list-table-description {
    padding : 20px 0;
}

/**
 * Register Status
 */
.yith-pos-register-status {
    display        : inline-block;
    background     : #bbc2c9;
    color          : #fff;
    text-transform : uppercase;
    padding        : 0 10px 1px 10px;
    font-size      : .9em;
    font-weight    : 600;
    border-radius  : 2px;
}

.yith-pos-register-status--opened {
    background : #98aa36;
}

.yith-pos-register-status__used-by {
    font-size   : .8em;
    line-height : 100%;
    margin-top  : 7px;
    display     : block;
}

/**
 * Create First Store Page
 */
#yith-pos-create-your-first-store {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
    padding         : 90px 0;
}

#yith-pos-create-your-first-store__message {
    max-width   : 480px;
    margin      : 20px auto 0;
    font-size   : 15px;
    line-height : 1.5em;
}

#yith-pos-create-your-first-store__button {
    margin-top : 40px;
}

/**
 * WP Lists
 */
body.edit-php.post-type-yith-pos-store table.wp-list-table .column-enabled,
body.edit-php.post-type-yith-pos-register table.wp-list-table .column-enabled,
body.edit-php.post-type-yith-pos-register table.wp-list-table .column-status {
    width          : 120px;
    vertical-align : middle;
    text-align     : center;
}

/**
 * General settings
 */
input.presets {
    width : 100px !important;
}


/**
 * Shop Order Metabox
 */
input.presets {
    width : 100px !important;
}

.yith-pos-info h4 {
    margin-bottom : 7px;
    margin-top    : 10px;
}

.yith-pos-info p:after {
    content       : '';
    display       : block;
    width         : 100px;
    height        : 0px;
    border-bottom : 1px solid #ccc;
    margin-top    : 10px
}

.yith-pos-info p {
    padding : 0;
}

.yith-pos-info .payment-method {
    display     : flex;
    align-items : center;
}

.yith-pos-info .payment-method .title {
    flex : 1;
}

/**
 * Hero Button
 */
.yith-pos-admin-hero-button {
    border-radius    : 3px;
    text-transform   : uppercase;
    box-shadow       : none;
    font-weight      : 700;
    font-size        : 15px;
    padding          : 20px 50px;
    outline          : none;
    height           : auto;
    transition       : all ease 0.3s;
    background-color : #007694;
    color            : #fff;
    text-shadow      : none;
    vertical-align   : middle;
    line-height      : 26px;
    display          : inline-block;
    text-decoration  : none;
    cursor           : pointer;
}

.yith-pos-admin-hero-button:hover {
    background-color : #375f6b;
    color            : #fff;
}

/**
 * Dashboard Required Plugin
 */

.yith-pos-dashboard-required-plugin {
    min-height      : 300px;
    padding         : 50px 20px;
    text-align      : center;
    display         : flex;
    justify-content : center;
    flex-direction  : column;
}

.yith-pos-dashboard-required-plugin__icon svg {
    width     : 100%;
    max-width : 480px;
}

.yith-pos-dashboard-required-plugin__message {
    font-size   : 1.5em;
    max-width   : 480px;
    margin      : 20px auto 0;
    line-height : 1.5em;
}

.yith-pos-dashboard-required-plugin__call-to-action {
    margin-top : 30px;
}

.yith-pos-dashboard-required-plugin .yith-pos-admin-notice {
    max-width : 480px;
    margin    : 40px auto 0;
}


/**
 * Prevent restock items
 */
.yith-pos-disabled {
    opacity        : 0.3;
    pointer-events : none;
}

.wc-order-totals .yith-pos-admin-notice {
    display       : inline-block;
    margin-bottom : 0;
}

/**
* Override Plugin fw
 */
.the-metabox .yith-plugin-fw-title-field-wrapper h3.title {
    margin-left : 15px;
}