.yith-pos-stock-management {
    padding : 1em;
}

.yith-pos-stock-management label{
    font-size:12px;
}

.yith-pos-stock-management h3 {
    display        : inline-block;
    font-size      : 13px;
    color          : #2a8db0;
    margin         : 0;
    padding        : 10px 0 5px;
    font-weight    : 600;
    text-transform : uppercase;
}

.yith-pos-stock-management.yith-plugin-ui .select2-selection--single {
    height : 32px;
}

.yith-pos-stock-management.yith-plugin-ui .select2-container .select2-selection--single .select2-selection__rendered {
    line-height : 32px;
}

.yith-pos-stock-management.yith-plugin-ui .select2 {
    width : 100% !important;
}

.yith-pos-stock-management .form-field.menu_order_field {
    padding : 10px 20px 10px 150px !important;
}

.yith-pos-stock-management .form-field.menu_order_field > label {
    padding-right : 10px;
    box-sizing    : border-box;
}

.yith-pos-group {
    margin      : 10px 0;
    display     : flex;
    align-items : center;
    width       : 80%;
}

.yith-pos-group > span:first-child {
    margin-left : 0;
}

.yith-pos-group > span {
    margin : 0 5px;
}

.yith-pos-group span.store {
    flex : 1;
}

.yith-pos-group span.store select {
    width     : 100%;
    max-width : 100%;
}


.yith-pos-group span.stock input {
    width : 100px;
}

.yith-pos-group .yith-icon-trash {
    font-size     : 20px;
    cursor        : pointer;
    margin-left   : 5px;
    width         : 20px;
    height        : 20px;
    transition    : all .3s ease-in-out;
    background    : transparent;
    border-radius : 50%;
    box-shadow    : 0 0 0 20px rgba(0, 0, 0, 0);
}

.yith-pos-group .yith-icon-trash:before {
    color : inherit;
}

.yith-pos-group .yith-icon-trash:hover {
    background : rgba(0, 0, 0, 0.03);
    box-shadow : 0 0 0 10px rgba(0, 0, 0, 0.03);
    color      : #e7004f;
}

.woocommerce_variable_attributes .yith-pos-stock-management.yith-plugin-ui {
    display : block;
    clear   : both;
}

.woocommerce_variable_attributes .yith-pos-stock-management .form-field.menu_order_field {
    padding     : 15px 20px 15px 0 !important;
    align-items : center;
}

.woocommerce_variable_attributes .yith-pos-stock-management .form-field.menu_order_field label {
    width : 150px;
    float : left;
}

.woocommerce_variable_attributes .yith-pos-stock-management {
    padding       : 1em 0;
    border-top    : 1px solid #ccc;
    border-bottom : 1px solid #ccc;
}

.woocommerce_variable_attributes .yith-pos-multistock-options {
    width : 80%;
}

.woocommerce_variable_attributes .yith-pos-group,
.woocommerce_variable_attributes .add-new-row {
    margin-left : 150px;
}

.yith-pos-stock-management .multistock_info {
  margin: 15px 0;
}
