/*
 * @package YITH WooCommerce Dynamic Pricing and Discounts Premium
 * @since   1.0.0
 * @author  YITH
 */
#ywdpd-table-discounts th {
    font-weight: bold;
    font-size: .8em;
}

#ywdpd-table-discounts td,
#ywdpd-table-discounts th {
    text-align: center;
}

.ywdpd-table-discounts-note {
    font-style: italic;
}

.ywdpd-table-discounts-label span {
    display: block;
    font-size: .8em;
}

.show_note_on_apply_products {
    font-weight: bold;
}

table#ywdpd-table-discounts {
    border: 1px solid #efefef;
}

#ywdpd-table-discounts th {
    border-right: 1px solid #efefef;
    padding: 5px
}

#ywdpd-table-discounts tr {
    border-bottom: 1px solid #efefef;
}

#ywdpd-table-discounts td {
    border-right: 1px solid #efefef;
    padding: 5px;
}

#ywdpd-table-discounts td.qty-info:hover,
#ywdpd-table-discounts td.qty-price-info:hover {
    cursor: pointer;
}

#ywdpd-table-discounts td.qty-info > *,
#ywdpd-table-discounts td.qty-price-info > *
{
    padding: 2px 5px;
}

#ywdpd-table-discounts td.qty-info:hover  ,
#ywdpd-table-discounts td.qty-price-info:hover > *,
#ywdpd-table-discounts td.qty-price-info.ywdpd_qty_active > *,
#ywdpd-table-discounts td.qty-info.ywdpd_qty_active{
    color: #00a291;
}
#ywdpd-table-discounts td.qty-info.ywdpd_qty_active,
#ywdpd-table-discounts.vertical td.qty-price-info.ywdpd_qty_active{
    border-top: 1px solid #00a291;
}
#ywdpd-table-discounts td.qty-price-info.ywdpd_qty_active,
#ywdpd-table-discounts.vertical td.qty-info.ywdpd_qty_active{
    border-bottom: 1px solid #00a291 ;
}
#ywdpd-table-discounts.vertical td.qty-price-info.ywdpd_qty_active{
    border-right: 1px solid #00a291;
}
#ywdpd-table-discounts td.qty-info.ywdpd_qty_active,
#ywdpd-table-discounts.horizontal td.qty-price-info.ywdpd_qty_active
{
    border-left: 1px solid #00a291;
    border-right: 1px solid #00a291;
}

#ywdpd-action-discount div#publishing-action {
    width: 100% !important;
}

.show_note_on_apply_products, .show_note_on_adjustment_products {
    margin: 20px 0px;
}


/**POPUP*/

.ywdpd_popup {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;

    height: 100%;
    display: none;

}

#ywdpd_popup_container {
    max-height: 600px;
    overflow-y: auto;
}

.ywdpd_popup_wrapper {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.ywdpd_close {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
    background: url(../images/clear-24px.svg) no-repeat top left;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
}

.ywdpd_close:hover {
    cursor: pointer;
}

.ywdpd_popup_content {

    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
    position: relative;


}

.ywdpd_single_rule_container h3 {
    text-align: center;
}

.ywdpd_step1 .ywdpd_products li.product {
    width: 100% !important;
    margin-right: 0 !important;
    padding-top: 15px;
    margin-bottom: 0 !important;

}

.ywdpd_step1 li.product:hover img {
    border: 2px solid #cfdb41;
}

.price ins {
    color: #a8a209;
}

.ywdpd_step1 li.product a {
    outline: none !important;
    position: relative;
    display: inline-block;
}

.ywdpd_step1 li.product a img.ywdpd_loader {
    border: none !important;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: 0;
    padding: 0;
    display: none;
    width: 16px;
}

.ywdpd_image_badge {
    display: none;
    font-family: 'Dashicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #a8a209;
    border-radius: 20px;
    border: 1px solid #a8a209;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -7px;
    top: -10px;

}

.ywdpd_image_badge:before {
    content: "\f147";
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
}

.ywdpd_step1 li.product.added .ywdpd_image_badge {
    display: block;
}

.ywdpd_step2 {
    display: none;
}

.ywdpd_step2 .ywdpd_single_product_left {
    width: 40%;
    float: left;

}

.ywdpd_step2 .ywdpd_single_product_right {
    width: 60%;
    float: right;
}

.ywdpd_step2 .ywdpd_single_product_right .single_variation_wrap {
    display: none !important;
}


.ywdpd_button_add_to_gift {
    text-align: right;
}

.ywdpd_step2 .ywdpd_single_product_right .variations_form.cart, .ywdpd_step2 .ywdpd_single_product_right .ywdpd_add_to_gift {
    margin-left: 20px;
}

.ywdpd_step2 .ywdpd_single_product_right .variations_form.cart .variations .value > * {
    max-width: 100%;
    width: 100%;
}

.ywdpd_step2 .ywdpd_back {
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ywdpd_step2 .ywdpd_back:before {
    content: "\f340";
}

.ywdpd_step2 .ywdpd_back:hover {
    cursor: pointer;
}

.ywdpd_step2 h3 {
    text-align: center;
    display: inline-block;
    width: 96%;
}

.ywdpd_footer {
    text-align: right;
    margin-top: 20px;
}

.ywdpd_popup #ywdpd_popup_container .ywdpd_footer a {
    text-decoration: none;
    color: #000;

}

@media screen and (max-width: 720px) {
    .ywdpd_popup_wrapper {
        width: 90%;
    }
}


