// DIRECTIONAL
// ---------------------------------------------------------------
$rtl: 0;
$dir: ltr !default;

@import "../../theme-imports";


.entry-title { margin-bottom: 0 }
.entry-content { padding-bottom: 2rem; border-bottom: 1px solid rgba(0, 0, 0, .08); margin-bottom: 3rem; }
body.dark .entry-content { border-bottom-color: rgba(255, 255, 255, .08) }
.related-posts h3 { font-weight: 600 }
.related-posts .meta-date { font-size: 12px; text-transform: uppercase; }
ul.comments ul.children>li img.avatar, ul.comments>li img.avatar, .post-author img { max-width: 66px; border-radius: 50% }
ul.comments .comment-block { padding: 0; background: none; min-height: 60px }
ul.comments .comment-arrow { display: none }
ul.comments .comment-block .date { margin-top: 0 }
@media (min-width: 768px) {
    ul.comments ul.children>li .img-thumbnail, ul.comments>li .img-thumbnail { margin-#{$left}: -90px; }
    ul.comments ul.children>li, ul.comments>li { padding-#{$left}: 90px; }
    ul.comments>li { padding-top: 1rem; padding-bottom: 1rem }
}
ul.comments .comment-by { letter-spacing: -.025em; line-height: 1.2 }
ul.comments .comment-by strong { color: var(--porto-heading-color) }
ul.comments .comment-by span:before { content: '|'; color: #999; font-size: 11px; position: relative; top: -1px; margin-#{$right}: .3125rem }
ul.comments .comment-block .comment-by span { margin-#{$left}: .3125rem }
ul.comments ul.children>li a, ul.comments>li a { font-size: .8125rem; font-weight: 600; text-transform: uppercase }
ul.comments .comment-block .date { font-size: 1em; color: var(--porto-body-color) }
ul.comments .comment-block .date:before { content: '-'; font-size: 1em; top: 0 }
ul.comments .comment-block p { font-size: 1em; line-height: 1.9 }
article .comment-respond { margin-bottom: 1rem }
@media (max-width: 767px) {
    ul.comments ul.children>li .img-thumbnail, ul.comments>li .img-thumbnail { margin: side-values( 0 20px 10px 8px ); }
}