// DIRECTIONAL
// ---------------------------------------------------------------
$rtl: 0;
$dir: ltr !default;

@import "../../theme-imports";

article.post-woocommerce { margin-#{$left}: 0; }
article.post-woocommerce .post-image, article.post-woocommerce .post-date { margin-#{$left}: 0; }
article.post-woocommerce .post-date { margin-#{$right}: 30px; }
.single-post article.post-woocommerce .post-content { padding-bottom: 0; margin-bottom: 20px; }
.single-post #content hr { display: none; }
.entry-content { padding-bottom: 30px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); padding-#{$left}: 90px; margin-bottom: 20px; }
@media (min-width: 1200px) {
    .entry-content { padding-#{$right}: 80px; }
}
.post-share { margin-top: 0; padding: 0; display: inline-block; }
.post-share > * { display: inline-block; vertical-align: middle; }
.post-share .share-links { margin-#{$left}: 3px; }
.post-share h3 { margin: 0; }
.post-block h3, .post-share h3, article.post .comment-respond h3, article.portfolio .comment-respond h3, .related-posts .sub-title { color: var(--porto-heading-color); font-size: 19px; font-weight: 700; text-transform: uppercase; line-height: 1.5; margin-bottom: 15px; }
article.post-woocommerce .share-links a { width: 22px; height: 22px; border-radius: 11px; background: #939393; color: #fff; font-size: 11px; font-weight: 400; margin: side-values(2px 4px 2px 0 ); }
.post-meta { padding-#{$left}: 90px; }
.post-meta > * { vertical-align: middle; }
article.post .post-meta>span, article.post .post-meta>.post-views { padding-#{$right}: 20px; }
.post-author { padding-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.06); margin-bottom: 2rem; }
.post-author h3 { display: none; }
.post-author .name a { color: var(--porto-heading-color); font-size: 18px; text-transform: uppercase; }
.post-author p { margin-bottom: 10px; font-size: 1em; line-height: 1.8; }
article.post .comment-respond { margin-top: 0; }
.comment-form input[type="text"], .comment-form textarea { box-shadow: none; }
.comment-form input[type="text"] { padding: 10px 12px; }
input[type="submit"], .btn { color: var(--porto-body-bg); background: #272723; border: none; text-transform: uppercase; }
body.dark input[type="submit"], body.dark .btn { background: #fff; }
.related-posts h3 { font-size: 19px; color: var(--porto-heading-color); line-height: 26px; font-weight: 600; margin-top: 5px; margin-bottom: 15px; }
.related-posts .meta-date { color: #7b858a; font-size: 13px; text-transform: uppercase; letter-spacing: 0; }
.related-posts .meta-date i { font-size: 18px; margin-#{$right}: 5px; }
.related-posts .read-more { text-transform: uppercase; }
.comment-form { background: none; border-radius: 0; padding: 0; }