<div id="wcml-setup-wizard" class="notice otgs-installer-notice otgs-installer-notice-wpml otgs-installer-notice-plugin-recommendation otgs-is-dismissible wcml-notice">
    <div class="otgs-installer-notice-content">
        <h2>{{ text.prepare }}</h2>
        <p>{{ text.help|raw }}</p>
        <div class="otgs-installer-notice-status">
            <a class="otgs-installer-notice-status-item otgs-installer-notice-status-item-btn" href="{{ setup_url }}">{{ text.start }}</a>
        </div>
    </div>
</div>
