/*----------------------------------------------------------------------------*\
	DROPCAP SHORTCODE
\*----------------------------------------------------------------------------*/
.mpc-dropcap {
	display: inline-block;
	float: left;
}