/**
 * General admin style
 *
 * @author  Your Inspiration Themes
 * @package YITH WooCommerce Active Campaign
 * @version 1.0.0
 */

/* === INTEGRATION STATUS === */

.yith_wcac_integration_status .account-banner,
.yith_wcac_deep_data_connection_status .store-banner {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.yith_wcac_deep_data_connection_status .store-banner{
    white-space: nowrap;
}

.yith_wcac_integration_status .account-banner:after,
.yith_wcac_deep_data_connection_status .store-banner .account-banner:after {
    content: '';
    display: block;
    clear: both;
}

.yith_wcac_integration_status .account-banner .account-avatar {
    text-align: center;
    width: 20%;
    float: left;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.yith_wcac_integration_status_widget .account-banner .account-avatar {
    text-align: center;
    width: 30%;
    float: left;
    border-right: 0px;
    box-sizing: border-box;
}

.yith_wcac_integration_status .account-banner .account-avatar .account-thumb {
    border: 5px solid #eee;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    height: 96px;
    width: 96px;
}

.yith_wcac_integration_status_widget .account-banner .account-avatar .account-thumb {
    border: 5px solid #eee;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    height: 66px;
    width: 66px;
}

.yith_wcac_integration_status .account-banner .account-avatar .account-name {
    font-weight: 700;
}

.yith_wcac_deep_data_connection_status .store-banner .store-details,
.yith_wcac_deep_data_connection_status .store-banner .store-deactivate{
    display: inline-block;
    vertical-align: middle;
}

.yith_wcac_deep_data_connection_status .store-banner .store-details {
    width: 80%;
    border-right: 1px solid #eee;
}

.yith_wcac_deep_data_connection_status .store-banner .store-deactivate {
    width: 20%;
    text-align: center;
    padding: 20px 0;
}

.yith_wcac_integration_status .account-banner .account-details {
    float: right;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.yith_wcac_integration_status_widget .account-banner .account-details {
    float: right;
    width: 70%;
    padding: 0px 20px;
    box-sizing: border-box;
    border-left: 1px solid #eee;
}

.yith_wcac_integration_status .account-banner .account-details p {
    margin-bottom: 10px;
}

.yith_wcac_integration_status .account-banner .account-details p .label {
    margin-right: 10px;
}

#yith_wcac_panel_shortcode .yith-plugin-fw-checkbox-field-wrapper, #yith_wcac_panel_checkout .yith-plugin-fw-checkbox-field-wrapper, #yith_wcac_panel_widget .yith-plugin-fw-checkbox-field-wrapper {
    width: 25px;
    float: left;
}

#yith_wcac_panel_shortcode .forminp-checkbox > span.description, #yith_wcac_panel_checkout .forminp-checkbox > span.description, #yith_wcac_panel_widget .forminp-checkbox > span.description {
    display: inline;
}

.yith_wcac_integration_status mark,
.yith_wcac_deep_data_connection_status mark {
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto;
    vertical-align: middle;
}

.yith_wcac_integration_status mark.cancelled:after, .yith_wcac_integration_status mark.completed:after,
.yith_wcac_deep_data_connection_status .store-banner mark.cancelled:after, .yith_wcac_deep_data_connection_status .store-banner mark.completed:after {
    font-family: WooCommerce;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.yith_wcac_integration_status mark.completed:after,
.yith_wcac_deep_data_connection_status .store-banner mark.completed:after {
    content: "\e015";
    color: #73a724;
}

.yith_wcac_integration_status mark.cancelled:after,
.yith_wcac_deep_data_connection_status .store-banner mark.cancelled:after {
    content: "\e013";
    color: #a00;
}

/* === DASHBOARD WIDGET === */

#yith_wcac_dashboard_widget .inside:after {
    content: '';
    display: block;
    clear: both;
}

#yith_wcac_dashboard_widget .yith_wcac_integration_status .account-banner {
    padding: 20px;
}

#yith_wcac_dashboard_widget .yith_wcac_integration_status .account-banner .account-avatar {
    width: 25%;
    border: none;
}

#yith_wcac_dashboard_widget .yith_wcac_integration_status .account-banner .account-avatar .account-thumb {
    width: 66px;
    height: 66px;
}

#yith_wcac_dashboard_widget .yith_wcac_integration_status .account-banner .account-details {
    width: 75%;
    padding: 10px;
}

#yith_wcac_dashboard_widget .yith_wcac_integration_status .account-banner .account-details p:first-child {
    margin-top: 0;
}

#yith_wcac_dashboard_widget .list-stat-container {
    position: relative;
}

#yith_wcac_dashboard_widget .carousel_controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

#yith_wcac_dashboard_widget .carousel_controls a {
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    width: 1.4em;
    height: 1.4em;
}

#yith_wcac_dashboard_widget .carousel_controls a:before {
    font-family: WooCommerce;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ebebeb;
    font-size: 1.4em;
    background: #fff;
    border-radius: 50%;
}

#yith_wcac_dashboard_widget .carousel_controls a:focus,
#yith_wcac_dashboard_widget .carousel_controls a:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

#yith_wcac_dashboard_widget .carousel_controls a:hover:before {
    color: #aaa;
}

#yith_wcac_dashboard_widget .carousel_controls a.prev:before {
    content: '\e00b';
}

#yith_wcac_dashboard_widget .carousel_controls a.next:before {
    content: '\e008';
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-top: 10px;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat {
    padding: 10px;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat h3 {
    padding: 5px 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat table {
    width: 100%;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat th,
#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat td {
    border-bottom: 1px dashed #ebebeb;
    padding-bottom: 5px;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat tr:last-child th,
#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat tr:last-child td {
    border: none;
}

#yith_wcac_dashboard_widget .yith_wcac_list_stats .list-stat table th {
    text-align: left;
}

#yith_wcac_dashboard_widget .refresh-list-stats {
    margin-top: 10px;
    float: right;
}

#yith_wcac_dashboard_widget .refresh-list-stats:before {
    font-family: WooCommerce;
    font-weight: 400;
    content: '\e031';
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

/* === LIST UPDATER === */

a.ajax-active-campaign-updater-list,
a.ajax-active-campaign-updater-tags,
a.ajax-active-campaign-updater-field,
a.update-fields {
    vertical-align: middle !important;
    margin: 0 5px !important;
}

.select2-container.chosen_select,
.select2-container.select2-container-multi {
    display: inline-block !important;
}

#yith_wcac_panel_shortcode .select2-container,
#yith_wcac_panel_widget .select2-container {
    float: left;
}

#yith_wcac_panel_export input[type="submit"]:not(.visible) {
    display: none;
}

/* === PANEL STYLE === */

#yith_wcac_panel_shortcode .forminp-textarea p,
#yith_wcac_panel_widget .forminp-textarea p {
    font-size: 13px;
    font-style: italic;

    margin-bottom: 15px;
}

#yith_wcac_panel_checkout .forminp{
    width: 100%;
}

#yith_wcac_panel_checkout .forminp-multiselect > .description,
#yith_wcac_panel_shortcode .forminp-multiselect > .description,
#yith_wcac_panel_widget .forminp-multiselect > .description,
#yith_wcac_panel_register .forminp-multiselect > .description,
#yith_wcac_panel_tags .forminp-multiselect > .description {
    float: left;
    width: 100%;
}

/* === ORDER METABOX === */

#yith_wcac_user_preferences span.option-label {
    font-weight: 600;
}

#yith_wcac_user_preferences p.option {
    margin: 5px 0;
}

#yith_wcac_user_preferences p.description {
    margin-bottom: 16px;
}

#yith_wcac_user_preferences .mailchimp-personal-data {
    border-top: 1px solid #ebebeb;
    margin-top: 20px;
}