html {
    background-color: #fff;
}
.header {
    background-color: #fff;
}
body {
    color:#000;
    font-family: Arial;
    font-size: 12px;
    background-color: #fff;
}
.footer {
    color: #000;
    font-family: Arial;
    font-size: 12px;
    background-color: #ccc;
}
h1 {
    color: #000;
    font-family: Arial;
    font-size: 28px;
}
h2 {
    color: #000;
    font-family: Arial;
    font-size: 26px;
}
h3 {
    color: #000;
    font-family: Arial;
    font-size: 24px;
}
a {
    color: #21759B;
    font-family: Arial;
    font-size: 12px;
    text-decoration:'none';
}
.divider {
    border-color: #000;
    border-size: 1px;
    border-style: solid;
}

unsubscribe {
    color:#7f7f7f;
}