/*----------------------------------------------------------------------------*\
	SINGLE POST SHORTCODE
\*----------------------------------------------------------------------------*/
.mpc-wc-product a, .mpc-wc-product a:hover, .mpc-wc-product a:focus { outline: none; text-decoration: none; }

.mpc-wc-product ins { background: none; }

.mpc-wc-product .mpc-product__wrapper { overflow: hidden; position: relative; z-index: 1; }

.mpc-wc-product .mpc-product__heading { padding: 0; }

.mpc-wc-product .mpc-product__heading a { font: inherit; color: inherit; -webkit-transition: inherit; transition: inherit; }

.mpc-wc-product .mpc-product__heading.mpc-text-overflow { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.mpc-wc-product .mpc-product__thumb-wrap { position: relative; overflow: hidden; }

.mpc-wc-product .mpc-product__thumb, .mpc-wc-product .mpc-thumb__content-hover { cursor: pointer; }

.mpc-wc-product .mpc-product__thumb:not(img) { position: absolute; top: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center; }

.mpc-wc-product img { display: block; visibility: hidden; }

.mpc-wc-product .mpc-icon-anchor { display: block; text-align: center; -webkit-transition: all .25s; transition: all .25s; }

.mpc-wc-product .mpc-icon-anchor i { display: block; width: 1.35em; height: 1.35em; line-height: 1.35em; -webkit-transition: inherit; transition: inherit; }

.mpc-wc-product .mpc-icon-anchor:last-child { margin: 0 !important; }

.mpc-wc-product .mpc-product__price { cursor: default; }

/* Content */
.mpc-product__content, .mpc-product__content-hover { display: -ms-flexbox; display: flex; flex-direction: row; align-items: center; flex-wrap: wrap; flex: 1 0 100%; max-width: 100%; }

.mpc-product__content [class*="mpc-product__"], .mpc-product__content-hover [class*="mpc-product__"] { flex: 1 0 100%; }

.mpc-thumb__content, .mpc-product__content { z-index: 1; }

.mpc-thumb__content-hover, .mpc-product__content-hover { z-index: 2; }

/* Content Effect */
.mpc-product__wrapper > .mpc-flex { position: relative; z-index: 3; display: -ms-flexbox; display: flex; width: 100%; overflow: hidden; }

[data-content-effect="fade-in"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { opacity: 0; visibility: hidden; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="fade-in"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { visibility: visible; opacity: 1; }

[data-content-effect="slide-left"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="slide-right"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-200%, 0, 0); transform: translate3d(-200%, 0, 0); }

[data-content-effect="slide-right"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="slide-up"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 100%, 0); transform: translate3d(-100%, 100%, 0); }

[data-content-effect="slide-up"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="slide-down"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, -100%, 0); transform: translate3d(-100%, -100%, 0); }

[data-content-effect="slide-down"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="push-left"] .mpc-product__wrapper > .mpc-flex .mpc-product__content, [data-content-effect="push-left"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

[data-content-effect="push-left"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content, [data-content-effect="push-left"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="push-right"] .mpc-product__wrapper > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

[data-content-effect="push-right"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-200%, 0, 0); transform: translate3d(-200%, 0, 0); }

[data-content-effect="push-right"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }

[data-content-effect="push-right"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

[data-content-effect="push-up"] .mpc-product__wrapper > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

[data-content-effect="push-up"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 100%, 0); transform: translate3d(-100%, 100%, 0); }

[data-content-effect="push-up"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }

[data-content-effect="push-up"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0%, 0); transform: translate3d(-100%, 0%, 0); }

[data-content-effect="push-down"] .mpc-product__wrapper > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

[data-content-effect="push-down"] .mpc-product__wrapper > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, -100%, 0); transform: translate3d(-100%, -100%, 0); }

[data-content-effect="push-down"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }

[data-content-effect="push-down"] .mpc-product__wrapper:hover > .mpc-flex .mpc-product__content-hover { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }

/* Thumbnail Content Effects */
.mpc--floating-box .mpc-inline-box { display: inline-block; z-index: 1; overflow: hidden; }

.mpc-product__wrapper .mpc-block-box { display: block; width: 100%; z-index: 1; overflow: hidden; }

.mpc-thumb__content, .mpc-thumb__content-hover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; overflow: hidden; }

.mpc-thumb__content [class*="mpc-product__"], .mpc-thumb__content-hover [class*="mpc-product__"] { display: block; }

.mpc--no-replace.mpc--floating-box .mpc-thumb__content, .mpc--no-replace.mpc--floating-box .mpc-thumb__content-hover { width: auto; height: auto; }

.mpc--no-replace .mpc-thumb__content .mpc-thumb__content, .mpc--no-replace .mpc-thumb__content-hover .mpc-thumb__content { position: absolute; -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out; }

.mpc-product__wrapper { /* Overlay on hover */ }

[data-thumb-effects$="fade"] .mpc-product__wrapper .mpc-thumb__content-hover { top: 0; left: 0; opacity: 0; }

[data-thumb-effects$="slide-up"] .mpc-product__wrapper .mpc-thumb__content-hover { top: 100%; left: 0; }

[data-thumb-effects$="slide-down"] .mpc-product__wrapper .mpc-thumb__content-hover { top: -100%; left: 0; }

[data-thumb-effects$="slide-left"] .mpc-product__wrapper .mpc-thumb__content-hover { top: 0; left: 100%; }

[data-thumb-effects$="slide-right"] .mpc-product__wrapper .mpc-thumb__content-hover { top: 0; left: -100%; }

.mpc-product__wrapper .mpc-thumb__content-hover { visibility: hidden; }

.mpc-product__wrapper:hover .mpc-thumb__content-hover { visibility: visible; left: 0; top: 0; opacity: 1; }

[data-thumb-effects^="fade"] .mpc-product__wrapper:hover .mpc-thumb__content { opacity: 0; }

[data-thumb-effects^="slide-up"] .mpc-product__wrapper:hover .mpc-thumb__content { top: -100%; left: 0; }

[data-thumb-effects^="slide-down"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 100%; left: 0; }

[data-thumb-effects^="slide-left"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 0; left: 100%; }

[data-thumb-effects^="slide-right"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 0; left: -100%; }

.mpc--force-replace .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace .mpc-product__wrapper .mpc-thumb__content-hover { display: flex; flex-direction: column; }

.mpc--force-replace[data-thumb-positions^="top:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="top:left"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-start; justify-content: flex-start; }

.mpc--force-replace[data-thumb-positions^="top:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="top:center"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: center; justify-content: flex-start; }

.mpc--force-replace[data-thumb-positions^="top:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="top:right"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-end; justify-content: flex-start; }

.mpc--force-replace[data-thumb-positions^="middle:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="middle:left"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-start; justify-content: center; }

.mpc--force-replace[data-thumb-positions^="middle:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="middle:center"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: center; justify-content: center; }

.mpc--force-replace[data-thumb-positions^="middle:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="middle:right"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-end; justify-content: center; }

.mpc--force-replace[data-thumb-positions^="bottom:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="bottom:left"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-start; justify-content: flex-end; }

.mpc--force-replace[data-thumb-positions^="bottom:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="bottom:center"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: center; justify-content: flex-end; }

.mpc--force-replace[data-thumb-positions^="bottom:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--force-replace[data-thumb-positions$="bottom:right"] .mpc-product__wrapper .mpc-thumb__content-hover { align-items: flex-end; justify-content: flex-end; }

.mpc--no-replace[data-thumb-positions^="top:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="top:left"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 0; left: 0; transform: translateX(0) translateY(0%); }

.mpc--no-replace[data-thumb-positions^="top:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="top:center"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 0; left: 50%; transform: translateX(-50%) translateY(0%); }

.mpc--no-replace[data-thumb-positions^="top:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="top:right"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 0; left: 100%; transform: translateX(-100%) translateY(0%); }

.mpc--no-replace[data-thumb-positions^="middle:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="middle:left"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 50%; left: 0; transform: translateX(0) translateY(-50%); }

.mpc--no-replace[data-thumb-positions^="middle:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="middle:center"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }

.mpc--no-replace[data-thumb-positions^="middle:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="middle:right"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 50%; left: 100%; transform: translateX(-100%) translateY(-50%); }

.mpc--no-replace[data-thumb-positions^="bottom:left"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="bottom:left"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 100%; left: 0; transform: translateX(0) translateY(-100%); }

.mpc--no-replace[data-thumb-positions^="bottom:center"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="bottom:center"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 100%; left: 50%; transform: translateX(-50%) translateY(-100%); }

.mpc--no-replace[data-thumb-positions^="bottom:right"] .mpc-product__wrapper .mpc-thumb__content, .mpc--no-replace[data-thumb-positions$="bottom:right"] .mpc-product__wrapper:hover .mpc-thumb__content { top: 100%; left: 100%; transform: translateX(-100%) translateY(-100%); }

/* Rating */
.mpc-product__rating .mpc-rating { display: inline-block; white-space: nowrap; }

.mpc-product__rating .mpc-rating i:last-child { margin: 0; }

/* Small Buttons Effects */
.mpc-product__thumb-wrap .mpc-thumb__buttons { position: absolute; top: 0; left: 0; display: -ms-flexbox; display: flex; width: 100%; height: 100%; z-index: 10; pointer-events: none; }

.mpc-product__thumb-wrap .mpc-thumb__buttons a { pointer-events: initial; }

[data-buttons*="vertical"] .mpc-product__thumb-wrap .mpc-thumb__buttons { flex-direction: column; }

[data-buttons*="vertical"][data-buttons*="top"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: flex-start; }

[data-buttons*="vertical"][data-buttons*="middle"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: center; }

[data-buttons*="vertical"][data-buttons*="bottom"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: flex-end; }

[data-buttons*="vertical"][data-buttons*="left"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: flex-start; }

[data-buttons*="vertical"][data-buttons*="center"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: center; }

[data-buttons*="vertical"][data-buttons*="right"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: flex-end; }

[data-buttons*="horizontal"] .mpc-product__thumb-wrap .mpc-thumb__buttons { flex-direction: row; }

[data-buttons*="horizontal"][data-buttons*="top"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: flex-start; }

[data-buttons*="horizontal"][data-buttons*="middle"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: center; }

[data-buttons*="horizontal"][data-buttons*="bottom"] .mpc-product__thumb-wrap .mpc-thumb__buttons { align-items: flex-end; }

[data-buttons*="horizontal"][data-buttons*="left"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: flex-start; }

[data-buttons*="horizontal"][data-buttons*="center"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: center; }

[data-buttons*="horizontal"][data-buttons*="right"] .mpc-product__thumb-wrap .mpc-thumb__buttons { justify-content: flex-end; }

.mpc-buttons--on-hover .mpc-thumb__buttons { opacity: 0; }

.mpc-buttons--on-hover[data-buttons-effect="slide-up"] .mpc-thumb__buttons { -webkit-transform: translateY(100%) translateX(0); transform: translateY(100%) translateX(0); }

.mpc-buttons--on-hover[data-buttons-effect="slide-down"] .mpc-thumb__buttons { -webkit-transform: translateY(-100%) translateX(0); transform: translateY(-100%) translateX(0); }

.mpc-buttons--on-hover[data-buttons-effect="slide-left"] .mpc-thumb__buttons { -webkit-transform: translateX(100%) translateY(0); transform: translateX(100%) translateY(0); }

.mpc-buttons--on-hover[data-buttons-effect="slide-right"] .mpc-thumb__buttons { -webkit-transform: translateX(-100%) translateY(0); transform: translateX(-100%) translateY(0); }

.mpc-buttons--on-hover .mpc-product__wrapper:hover .mpc-product__thumb-wrap .mpc-thumb__buttons { opacity: 1; -webkit-transform: translateY(0) translateX(0) !important; transform: translateY(0) translateX(0) !important; }
