@page
@model AspnetCoreFull.Pages.Auth.TwoSteps.BasicModel
@{
  Layout = "Layouts/_BlankLayout";

  ViewData["Title"] = "TwoSteps Basic - Pages";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js"></script>
}
@* ************** Content ************** *@

<div class="positive-relative">
  <div class="authentication-wrapper authentication-basic">
    <div class="authentication-inner py-4">

      <!--  Two Steps Verification -->
      <div class="card p-2">
        <!-- Logo -->
        <div class="app-brand justify-content-center mt-5">
          <a href="/" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
          </a>
        </div>
        <!-- /Logo -->
        <div class="card-body">
          <h4 class="mb-2 fw-semibold">Two Step Verification 💬</h4>
          <p class="text-start mb-4">
            We sent a verification code to your mobile. Enter the code from the mobile in the field below.
            <span class="fw-bold d-block mt-2">******1234</span>
          </p>
          <p class="mb-0 fw-semibold">Type your 6 digit security code</p>
          <form id="twoStepsForm" action="/">
            <div class="mb-3">
              <div class="auth-input-wrapper d-flex align-items-center justify-content-sm-between numeral-mask-wrapper">
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1" autofocus>
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
                <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
              </div>
              <!-- Create a hidden field which is combined by 3 fields above -->
              <input type="hidden" name="otp" />
            </div>
            <button class="btn btn-primary d-grid w-100 mb-3">
              Verify my account
            </button>
            <div class="text-center">Didn't get the code?
              <a href="javascript:void(0);">
                Resend
              </a>
            </div>
          </form>
        </div>
      </div>
      <!-- / Two Steps Verification -->
      <img alt="mask" src="~/img/illustrations/auth-basic-register-mask-light.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-register-mask-light.png" data-app-dark-img="illustrations/auth-basic-register-mask-dark.png" />
    </div>
  </div>
</div>
