@page
@model AspnetCoreFull.Pages.Auth.TwoSteps.CoverModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "TwoSteps Cover - Pages";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js"></script>
<script src="~/js/pages-auth-two-steps.dist.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover">
  <!-- Logo -->
  <a href="/" class="auth-cover-brand d-flex align-items-center gap-2">
    <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
    <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
  </a>
  <!-- /Logo -->
  <div class="authentication-inner row m-0">

    <!-- /Left Section -->
    <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-5 pb-2">
      <img src="~/img/illustrations/auth-two-steps-illustration-light.png" class="auth-cover-illustration w-100" alt="auth-illustration" data-app-light-img="illustrations/auth-two-steps-illustration-light.png" data-app-dark-img="illustrations/auth-two-steps-illustration-dark.png" />
      <img src="~/img/illustrations/auth-cover-register-mask-light.png" class="authentication-image" alt="mask" data-app-light-img="illustrations/auth-cover-register-mask-light.png" data-app-dark-img="illustrations/auth-cover-register-mask-dark.png" />
    </div>
    <!-- /Left Section -->

    <!-- Two Steps Verification -->
    <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-4 py-4">
      <div class="w-px-400 mx-auto pt-5 pt-lg-0">

        <h4 class="mb-2 fw-semibold">Two Step Verification 💬</h4>
        <p class="text-start mb-4">
          We sent a verification code to your mobile. Enter the code from the mobile in the field below.
          <span class="fw-bold d-block mt-2">******1234</span>
        </p>
        <p class="mb-0 fw-semibold">Type your 6 digit security code</p>
        <form id="twoStepsForm" action="/">
          <div class="mb-3">
            <div class="auth-input-wrapper d-flex align-items-center justify-content-sm-between numeral-mask-wrapper">
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1" autofocus>
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
              <input type="text" class="form-control auth-input w-px-50 text-center numeral-mask text-center h-px-50 mx-1 my-2" maxlength="1">
            </div>
            <!-- Create a hidden field which is combined by 3 fields above -->
            <input type="hidden" name="otp" />
          </div>
          <button class="btn btn-primary d-grid w-100 mb-3">
            Verify my account
          </button>
          <div class="text-center">Didn't get the code?
            <a href="javascript:void(0);">
              Resend
            </a>
          </div>
        </form>
      </div>
    </div>
    <!-- /Two Steps Verification -->
  </div>
</div>
