.ywmmq-excluded::before {
    color: #7d7d7d;
}

.ywmmq-error::before {
    color: #b81c23;
}

.ywmmq-correct::before {
    color: #1fa67a;
}

.ywmmq-rules-wrapper{
    margin: 15px 0;
    clear: both;
}

.ywmmq-rules-wrapper > ul{
    margin: 0 0 0 20px
}

.ywmmq-rules-wrapper > ul > li {
    padding: 5px 0;
    margin: 0 0 0 40px;
}