/*Desplegable Button for variable products*/
.desplegable {
    cursor: pointer;
}

/*Text indent for variations*/
div .childs {
    text-indent: 15px;
}

input#yith_cog_set_pagination_report_table,
input#yith_cog_set_pagination_stock_table{
    width: 4em;
}

.wp-list-table th#cost{
  width: 10%;
}
