/**
 * Static CSS Styles
 * Place static CSS styles here.
 * For more info please see: https://themes.muffingroup.com/betheme/documentation/#static-css
 */

/* paste header dynamic styles content below */
