@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

html {
    direction: $dir;
    overflow-x: hidden;
    box-shadow: none !important;
    font-size: 16px;
}

.clear {
    float: none;
    clear: both;
}

.f-left, .pull-left {
    float: $left;
}
.f-right, .pull-right {
    float: $right;
}
.f-none {
    float: none;
}
.hide, .sticky-header .d-sticky-header-none {
    display: none !important;
}

.row:before, .row:after {
    content: none
}

.row-align-items-center .row {
    -ms-flex-align: center;
    align-items: center;
}

/* Responsive */
@media (max-width: 575px) {
    body {
        font-size: 13px;
    }
}

a.nolink {
    pointer-events: none;
}

[data-plugin-sticky] {
    position: relative;
    z-index: 8;
}

[data-plugin-sticky], .porto-sticky {
    will-change: position, top, bottom, left;
    padding-bottom: 1px
}

.pin-wrapper {
    width: 100%
}

.z-index-1 {
    z-index: 1;
}

input {
    max-width: 100%
}

@media (min-width: 992px) {
    @for $i from 1 through 12 {
        $infix: floor(100 / 12 * $i);
        .w-lg-#{$infix} {
            width: #{100 / 12 * $i}% !important
        }
    }
}
