/*----------------------------------------------------------------------------*\
	COUNDOWN SHORTCODE - Panel
\*----------------------------------------------------------------------------*/
[data-vc-shortcode="mpc_countdown"] input[name$="label"] {
	width: 90px !important;
}
