@font-face {
	font-family: 'massive_icons';
	src: url('massive_icons.eot?v=1.3');
	src: url('massive_icons.eot?#iefix&v=1.3') format('embedded-opentype'),
		 url('massive_icons.ttf?v=1.3') format('truetype'),
		 url('massive_icons.woff?v=1.3') format('woff'),
		 url('massive_icons.svg?v=1.3#massive_icons') format('svg');
}

.mpci {
	font-family: 'massive_icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mpci-ihover:before {
	content: "\e921";
}
.mpci-shopping_bag_v1:before {
	content: "\e93b";
}
.mpci-add_to_cart:before {
	content: "\e93c";
}
.mpci-category_carousel:before {
	content: "\e93d";
}
.mpci-grid_product_category:before {
	content: "\e93e";
}
.mpci-product_carousel:before {
	content: "\e93f";
}
.mpci-product_category:before {
	content: "\e940";
}
.mpci-product_category_v2:before {
	content: "\e941";
}
.mpci-product_category_v3:before {
	content: "\e942";
}
.mpci-product_grid_v2:before {
	content: "\e943";
}
.mpci-single_product:before {
	content: "\e944";
}
.mpci-single_product_grid:before {
	content: "\e945";
}
.mpci-text_block:before {
	content: "\e946";
}
.mpci-accordion:before {
	content: "\e900";
}
.mpci-additions:before {
	content: "\e901";
}
.mpci-alert:before {
	content: "\e902";
}
.mpci-animation:before {
	content: "\e903";
}
.mpci-animation_block:before {
	content: "\e904";
}
.mpci-animation_text:before {
	content: "\e905";
}
.mpci-button:before {
	content: "\e906";
}
.mpci-button_set:before {
	content: "\e907";
}
.mpci-call_out:before {
	content: "\e908";
}
.mpci-carousel_anything:before {
	content: "\e909";
}
.mpci-carousel_blog:before {
	content: "\e90a";
}
.mpci-carousel_image:before {
	content: "\e90b";
}
.mpci-carousel_slider:before {
	content: "\e90c";
}
.mpci-carousel_testimonials:before {
	content: "\e90d";
}
.mpci-charts:before {
	content: "\e90e";
}
.mpci-connected_icons:before {
	content: "\e90f";
}
.mpci-countdown:before {
	content: "\e910";
}
.mpci-counter:before {
	content: "\e911";
}
.mpci-cube_box:before {
	content: "\e912";
}
.mpci-divider:before {
	content: "\e913";
}
.mpci-dropcaps:before {
	content: "\e914";
}
.mpci-flipbox:before {
	content: "\e915";
}
.mpci-full_page_nav:before {
	content: "\e916";
}
.mpci-google_maps:before {
	content: "\e917";
}
.mpci-gradient:before {
	content: "\e918";
}
.mpci-grid_1:before {
	content: "\e919";
}
.mpci-grid_2:before {
	content: "\e91a";
}
.mpci-grid_3:before {
	content: "\e91b";
}
.mpci-grid_4:before {
	content: "\e91c";
}
.mpci-grid_5:before {
	content: "\e91d";
}
.mpci-icon:before {
	content: "\e91e";
}
.mpci-icon_column:before {
	content: "\e91f";
}
.mpci-icon_list:before {
	content: "\e920";
}
.mpci-interactive_banner:before {
	content: "\e922";
}
.mpci-interactive_image:before {
	content: "\e923";
}
.mpci-lightbox:before {
	content: "\e924";
}
.mpci-link_block:before {
	content: "\e925";
}
.mpci-link_column:before {
	content: "\e926";
}
.mpci-modal_box:before {
	content: "\e927";
}
.mpci-parallax:before {
	content: "\e928";
}
.mpci-pricing:before {
	content: "\e929";
}
.mpci-progress_bar:before {
	content: "\e92a";
}
.mpci-qr_code:before {
	content: "\e92b";
}
.mpci-quote:before {
	content: "\e92c";
}
.mpci-ribbon:before {
	content: "\e92d";
}
.mpci-round_connected_icons:before {
	content: "\e92e";
}
.mpci-row_separator:before {
	content: "\e92f";
}
.mpci-row_style:before {
	content: "\e930";
}
.mpci-scroll_to_id:before {
	content: "\e931";
}
.mpci-single_display:before {
	content: "\e932";
}
.mpci-single_image:before {
	content: "\e933";
}
.mpci-sliding_image:before {
	content: "\e934";
}
.mpci-sticking_column:before {
	content: "\e935";
}
.mpci-tabs:before {
	content: "\e936";
}
.mpci-testimonials:before {
	content: "\e937";
}
.mpci-toggle_row:before {
	content: "\e938";
}
.mpci-toogle_row:before {
	content: "\e939";
}
.mpci-tooltip:before {
	content: "\e93a";
}