@page
@model AspnetCoreStarter.Pages.IndexModel
@{
  ViewData["Title"] = "Home - Starter Kit";
}

@* ************** Content ************** *@
<h4 class="fw-bold py-3 mb-4">Page 1</h4>
<p>Sample page.<br />For more layout options, refer <a href='@TempData.Peek("documentation")/net-core-init-layout.html' target="_blank" class="fw-bold">Layout docs</a>.</p>
