
.ywcdd_list_day{
    max-width: 400px;
}

.ywcdd_list_day li {
    margin-bottom: 10px;
    margin-top: 10px;
}
.ywcdd_list_day li .ywcdd_item{
    display: inline-block;
    height: 20px;
}

.ywcdd_list_day .ywcdd_day{
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    margin: 1px;
    min-width: 110px;
}

.ywcdd_hide{
    display:none;
}
.ywcdd_block{
    pointer-events: none;
    opacity: 0.3;
}
#ywcdd_shipping_table table.widefat{
    max-width: 400px;
}
.ywcdd_back_to:after{
    display: inline-block;
    font-family: 'Dashicons';
    content: '\f342';
    padding-left: 5px;
}