@{
  TempData.Keep();
  string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
  ViewData["containerNav"] ??= "container-fluid";
}

<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal  menu bg-menu-theme flex-grow-0">
  <div class='@ViewData["containerNav"] d-flex h-100'>
    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">

      <!-- Dashboards -->
      <li class='menu-item@(currentPage.StartsWith("/Dashboards/") ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-home-outline"></i>
          <div data-i18n="Dashboards">Dashboards</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Dashboards/Ecommerce" ? " active" : "")'>
            <a asp-page="/Dashboards/Ecommerce" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-cart-outline"></i>
              <div data-i18n="eCommerce">eCommerce</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a asp-page="/Dashboards/CRM" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-chart-donut"></i>
            <div data-i18n="CRM">CRM</div>
          </a>
        </li>
          <li class='menu-item@(currentPage == "/Dashboards/Analytics" ? " active" : "")'>
            <a asp-page="/Dashboards/Analytics" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-chart-timeline-variant"></i>
              <div data-i18n="Analytics">Analytics</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Layouts -->
      <li class='menu-item@(currentPage.StartsWith("/LayoutExamples/") ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-window-maximize"></i>
          <div data-i18n="Layouts">Layouts</div>
        </a>

        <ul class="menu-sub">

          <li class='menu-item@(currentPage == "/LayoutExamples/WithoutMenu" ? " active" : "")'>
            <a asp-page="/LayoutExamples/WithoutMenu" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-page-layout-header-footer"></i>
              <div data-i18n="Without menu">Without menu</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/LayoutExamples/VerticalMenu" ? " active" : "")'>
            <a asp-page="/LayoutExamples/VerticalMenu" class="menu-link" target="_blank">
              <i class="menu-icon tf-icons mdi mdi-dock-left"></i>
              <div data-i18n="Vertical">Vertical</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
            <a asp-page="/LayoutExamples/Fluid" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-dock-top"></i>
              <div data-i18n="Fluid">Fluid</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
            <a asp-page="/LayoutExamples/Container" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-dock-window"></i>
              <div data-i18n="Container">Container</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/LayoutExamples/Blank" ? " active" : "")'>
            <a asp-page="/LayoutExamples/Blank" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-page-layout-body"></i>
              <div data-i18n="Blank">Blank</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Apps -->
      <li class='menu-item@(currentPage.StartsWith("/Apps/") ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class='menu-icon tf-icons mdi mdi-apps'></i>
          <div data-i18n="Apps">Apps</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
            <a asp-page="/Apps/Email" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-email-outline'></i>
              <div data-i18n="Email">Email</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Apps/Chat" ? " active" : "")'>
            <a asp-page="/Apps/Chat" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-message-outline'></i>
              <div data-i18n="Chat">Chat</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Apps/Calendar" ? " active" : "")'>
            <a asp-page="/Apps/Calendar" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-calendar-blank-outline'></i>
              <div data-i18n="Calendar">Calendar</div>
            </a>
          </li>
          <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
            <a asp-page="/Apps/Kanban" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-view-grid-outline'></i>
              <div data-i18n="Kanban">Kanban</div>
            </a>
          </li>

          <li class='menu-item@(currentPage.StartsWith("/Apps/Invoice/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons mdi mdi-file-document-outline'></i>
              <div data-i18n="Invoice">Invoice</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Apps/Invoice/List" ? " active" : "")'>
                <a asp-page="/Apps/Invoice/List" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="List">List</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Apps/Invoice/Preview" ? " active" : "")'>
                <a asp-page="/Apps/Invoice/Preview" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Preview">Preview</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Apps/Invoice/Edit" ? " active" : "")'>
                <a asp-page="/Apps/Invoice/Edit" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Edit">Edit</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Apps/Invoice/Add" ? " active" : "")'>
                <a asp-page="/Apps/Invoice/Add" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Add">Add</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Apps/User/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons mdi mdi-account-outline'></i>
              <div data-i18n="Users">Users</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Apps/User/List" ? " active" : "")'>
                <a asp-page="/Apps/User/List" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="List">List</div>
                </a>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Apps/User/View/") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="View">View</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Apps/User/View/Account" ? " active" : "")'>
                    <a asp-page="/Apps/User/View/Account" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Account">Account</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Apps/User/View/Security" ? " active" : "")'>
                    <a asp-page="/Apps/User/View/Security" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Security">Security</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Apps/User/View/Billing" ? " active" : "")'>
                    <a asp-page="/Apps/User/View/Billing" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Billing & Plans">Billing & Plans</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Apps/User/View/Notifications" ? " active" : "")'>
                    <a asp-page="/Apps/User/View/Notifications" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Notifications">Notifications</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Apps/User/View/Connections" ? " active" : "")'>
                    <a asp-page="/Apps/User/View/Connections" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Connections">Connections</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Apps/Access/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class='menu-icon tf-icons mdi mdi-shield-outline'></i>
              <div data-i18n="Roles & Permissions">Roles & Permission</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Apps/Access/Roles" ? " active" : "")'>
                <a asp-page="/Apps/Access/Roles" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Roles">Roles</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Apps/Access/Permission" ? " active" : "")'>
                <a asp-page="/Apps/Access/Permission" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Permission">Permission</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Pages -->
      <li class='menu-item@((currentPage.StartsWith("/Pages/") || currentPage.StartsWith("/Wizards/") || currentPage.StartsWith("/Auth/") || currentPage.StartsWith("/Modals/")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-file-document-outline"></i>

          <div data-i18n="Pages">Pages</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage.StartsWith("/Pages/Profile") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-card-account-details-outline"></i>
              <div data-i18n="User Profile">User Profile</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Pages/Profile/User" ? " active" : "")'>
                <a asp-page="/Pages/Profile/User" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Profile">Profile</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Profile/Teams" ? " active" : "")'>
                <a asp-page="/Pages/Profile/Teams" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Teams">Teams</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Profile/Projects" ? " active" : "")'>
                <a asp-page="/Pages/Profile/Projects" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Projects">Projects</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Profile/Connections" ? " active" : "")'>
                <a asp-page="/Pages/Profile/Connections" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Connections">Connections</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Pages/AccountSettings") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-account-cog-outline"></i>
              <div data-i18n="Account Settings">Account Settings</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Pages/AccountSettings/Account" ? " active" : "")'>
                <a asp-page="/Pages/AccountSettings/Account" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Account">Account</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/AccountSettings/Security" ? " active" : "")'>
                <a asp-page="/Pages/AccountSettings/Security" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Security">Security</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/AccountSettings/Billing" ? " active" : "")'>
                <a asp-page="/Pages/AccountSettings/Billing" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Billing & Plans">Billing & Plans</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/AccountSettings/Notifications" ? " active" : "")'>
                <a asp-page="/Pages/AccountSettings/Notifications" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Notifications">Notifications</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/AccountSettings/Connections" ? " active" : "")'>
                <a asp-page="/Pages/AccountSettings/Connections" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Connections">Connections</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/Pages/FAQ" ? " active" : "")'>
            <a asp-page="/Pages/FAQ" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-frequently-asked-questions"></i>
              <div data-i18n="FAQ">FAQ</div>
            </a>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Pages/HelpCenter") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-help-circle-outline"></i>
              <div data-i18n="Help Center">Help Center</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Pages/HelpCenter/Landing" ? " active" : "")'>
                <a asp-page="/Pages/HelpCenter/Landing" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Landing">Landing</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/HelpCenter/Categories" ? " active" : "")'>
                <a asp-page="/Pages/HelpCenter/Categories" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Categories">Categories</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/HelpCenter/Article" ? " active" : "")'>
                <a asp-page="/Pages/HelpCenter/Article" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Article">Article</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/Pages/Pricing" ? " active" : "")'>
            <a asp-page="/Pages/Pricing" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-currency-usd"></i>
              <div data-i18n="Pricing">Pricing</div>
            </a>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-file-outline"></i>
              <div data-i18n="Misc">Misc</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Pages/Misc/Error" ? " active" : "")'>
                <a asp-page="/Pages/Misc/Error" class="menu-link" target="_blank">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Error">Error</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Misc/UnderMaintenance" ? " active" : "")'>
                <a asp-page="/Pages/Misc/UnderMaintenance" class="menu-link" target="_blank">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Under Maintenance">Under Maintenance</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Misc/ComingSoon" ? " active" : "")'>
                <a asp-page="/Pages/Misc/ComingSoon" class="menu-link" target="_blank">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Coming Soon">Coming Soon</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Misc/NotAuthorized" ? " active" : "")'>
                <a asp-page="/Pages/Misc/NotAuthorized" class="menu-link" target="_blank">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Not Authorized">Not Authorized</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Pages/Misc/ServerError" ? " active" : "")'>
                <a asp-page="/Pages/Misc/ServerError" class="menu-link" target="_blank">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Server Error">Server Error</div>
                </a>
              </li>
            </ul>
          </li>

          <li class='menu-item@(currentPage.StartsWith("/Auth/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-lock-outline"></i>
              <div data-i18n="Authentications">Authentications</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage.StartsWith("/Auth/Login") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Login">Login</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/Login/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/Login/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/Login/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/Login/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Auth/Register") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Register">Register</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/Register/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/Register/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/Register/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/Register/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/Register/Multisteps" ? " active" : "")'>
                    <a asp-page="/Auth/Register/Multisteps" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Multi-steps">Multi-steps</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Auth/VerifyEmail") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Verify Email">Verify Email</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/VerifyEmail/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/VerifyEmail/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/VerifyEmail/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/VerifyEmail/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Auth/ResetPassword") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Reset Password">Reset Password</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/ResetPassword/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/ResetPassword/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/ResetPassword/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/ResetPassword/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Auth/ForgotPassword") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Forgot Password">Forgot Password</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/ForgotPassword/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/ForgotPassword/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/ForgotPassword/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/ForgotPassword/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/Auth/TwoSteps") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Two Steps">Two Steps</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/Auth/TwoSteps/Basic" ? " active" : "")'>
                    <a asp-page="/Auth/TwoSteps/Basic" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/Auth/TwoSteps/Cover" ? " active" : "")'>
                    <a asp-page="/Auth/TwoSteps/Cover" class="menu-link" target="_blank">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Cover">Cover</div>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Wizards/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-transit-connection-horizontal"></i>
              <div data-i18n="Wizard Examples">Wizard Examples</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Wizards/Checkout" ? " active" : "")'>
                <a asp-page="/Wizards/Checkout" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Checkout">Checkout</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Wizards/PropertyListing" ? " active" : "")'>
                <a asp-page="/Wizards/PropertyListing" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Property Listing">Property Listing</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Wizards/CreateDeal" ? " active" : "")'>
                <a asp-page="/Wizards/CreateDeal" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Create Deal">Create Deal</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/Modals/Examples" ? " active" : "")'>
            <a asp-page="/Modals/Examples" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-vector-arrange-below"></i>
              <div data-i18n="Modal Examples">Modal Examples</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Components -->
      <li class='menu-item@((currentPage.StartsWith("/Cards/") || currentPage.StartsWith("/Ui/") || currentPage.StartsWith("/ExtendedUi/") || currentPage.StartsWith("/Icons/")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-layers-outline"></i>
          <div data-i18n="Components">Components</div>
        </a>
        <ul class="menu-sub">
          <!-- Cards -->
          <li class='menu-item@(currentPage.StartsWith("/Cards/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-credit-card-outline"></i>
              <div data-i18n="Cards">Cards</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
                <a asp-page="/Cards/Basic" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Cards/Advance" ? " active" : "")'>
                <a asp-page="/Cards/Advance" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Advance">Advance</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Cards/Statistics" ? " active" : "")'>
                <a asp-page="/Cards/Statistics" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Statistics">Statistics</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Cards/Analytics" ? " active" : "")'>
                <a asp-page="/Cards/Analytics" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Analytics">Analytics</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Cards/Gamifications" ? " active" : "")'>
                <a asp-page="/Cards/Gamifications" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Gamifications">Gamifications</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Cards/Actions" ? " active" : "")'>
                <a asp-page="/Cards/Actions" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Actions">Actions</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- User interface -->
          <li class='menu-item@(currentPage.StartsWith("/Ui/") ? " active" : "")'>
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-palette-swatch-outline"></i>
              <div data-i18n="User interface">User interface</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
                <a asp-page="/Ui/Accordion" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Accordion">Accordion</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
                <a asp-page="/Ui/Alerts" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Alerts">Alerts</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
                <a asp-page="/Ui/Badges" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Badges">Badges</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
                <a asp-page="/Ui/Buttons" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Buttons">Buttons</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
                <a asp-page="/Ui/Carousel" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Carousel">Carousel</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
                <a asp-page="/Ui/Collapse" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Collapse">Collapse</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
                <a asp-page="/Ui/Dropdowns" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Dropdowns">Dropdowns</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
                <a asp-page="/Ui/Footer" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Footer">Footer</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
                <a asp-page="/Ui/ListGroups" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="List groups">List groups</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
                <a asp-page="/Ui/Modals" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Modals">Modals</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
                <a asp-page="/Ui/Navbar" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Navbar">Navbar</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
                <a asp-page="/Ui/Offcanvas" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Offcanvas">Offcanvas</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
                <a asp-page="/Ui/PaginationBreadcrumbs" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Pagination & Breadcrumbs">Pagination &amp; Breadcrumbs</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
                <a asp-page="/Ui/Progress" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Progress">Progress</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
                <a asp-page="/Ui/Spinners" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Spinners">Spinners</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
                <a asp-page="/Ui/TabsPills" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Tabs & Pills">Tabs &amp; Pills</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
                <a asp-page="/Ui/Toasts" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Toasts">Toasts</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
                <a asp-page="/Ui/TooltipsPopovers" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Tooltips & popovers">Tooltips &amp; popovers</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
                <a asp-page="/Ui/Typography" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Typography">Typography</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Extended components -->
          <li class='menu-item@(currentPage.StartsWith("/ExtendedUi/") ? " active" : "")'>
            <a href="javascript:void(0)" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-star-outline"></i>
              <div data-i18n="Extended UI">Extended UI</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/ExtendedUi/Avatar" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Avatar" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Avatar">Avatar</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/Blockui" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Blockui" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="BlockUI">BlockUI</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/DragDrop" ? " active" : "")'>
                <a asp-page="/ExtendedUi/DragDrop" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Drag & Drop">Drag &amp; Drop</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/MediaPlayer" ? " active" : "")'>
                <a asp-page="/ExtendedUi/MediaPlayer" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Media Player">Media Player</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
                <a asp-page="/ExtendedUi/PerfectScrollbar" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Perfect scrollbar">Perfect scrollbar</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/StarRatings" ? " active" : "")'>
                <a asp-page="/ExtendedUi/StarRatings" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Star Ratings">Star Ratings</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/Sweetalert2" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Sweetalert2" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="SweetAlert2">SweetAlert2</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
                <a asp-page="/ExtendedUi/TextDivider" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Text Divider">Text Divider</div>
                </a>
              </li>
              <li class='menu-item@(currentPage.StartsWith("/ExtendedUi/Timeline") ? " active" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Timeline">Timeline</div>
                </a>
                <ul class="menu-sub">
                  <li class='menu-item@(currentPage == "/ExtendedUi/Timeline/Basic" ? " active" : "")'>
                    <a asp-page="/ExtendedUi/Timeline/Basic" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Basic">Basic</div>
                    </a>
                  </li>
                  <li class='menu-item@(currentPage == "/ExtendedUi/Timeline/Fullscreen" ? " active" : "")'>
                    <a asp-page="/ExtendedUi/Timeline/Fullscreen" class="menu-link">
                      <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                      <div data-i18n="Fullscreen">Fullscreen</div>
                    </a>
                  </li>
                </ul>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/Tour" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Tour" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Tour">Tour</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/Treeview" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Treeview" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Treeview">Treeview</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/ExtendedUi/Misc" ? " active" : "")'>
                <a asp-page="/ExtendedUi/Misc" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Miscellaneous">Miscellaneous</div>
                </a>
              </li>
            </ul>
          </li>
          <!-- Icons -->
          <li class='menu-item@(currentPage == "/Icons/MdiIcons" ? " active" : "")'>
            <a asp-page="/Icons/Icons" class="menu-link">
              <i class="menu-icon tf-icons mdi mdi-google-circles-extended"></i>
              <div data-i18n="Icons">Icons</div>
           </a>
          </li>
        </ul>
      </li>

      <!-- Forms -->
      <li class='menu-item@((currentPage.StartsWith("/Forms/") || currentPage.StartsWith("/FormLayouts/") || currentPage.StartsWith("/FormWizard/") || currentPage.StartsWith("/FormValidation/")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-checkbox-marked-outline"></i>
          <div data-i18n="Forms">Forms</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage.StartsWith("/Forms/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-form-select"></i>
              <div data-i18n="Form Elements">Form Elements</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
                <a asp-page="/Forms/BasicInputs" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Basic Inputs">Basic Inputs</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
                <a asp-page="/Forms/InputGroups" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Input groups">Input groups</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/CustomOptions" ? " active" : "")'>
                <a asp-page="/Forms/CustomOptions" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Custom Options">Custom Options</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Editors" ? " active" : "")'>
                <a asp-page="/Forms/Editors" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Editors">Editors</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/FileUpload" ? " active" : "")'>
                <a asp-page="/Forms/FileUpload" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="File Upload">File Upload</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Pickers" ? " active" : "")'>
                <a asp-page="/Forms/Pickers" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Pickers">Pickers</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Selects" ? " active" : "")'>
                <a asp-page="/Forms/Selects" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Select & Tags">Select &amp; Tags</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Sliders" ? " active" : "")'>
                <a asp-page="/Forms/Sliders" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Sliders">Sliders</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Switches" ? " active" : "")'>
                <a asp-page="/Forms/Switches" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Switches">Switches</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Forms/Extras" ? " active" : "")'>
                <a asp-page="/Forms/Extras" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Extras">Extras</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/FormLayouts/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-cube-outline"></i>
              <div data-i18n="Form Layouts">Form Layouts</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
                <a asp-page="/FormLayouts/Vertical" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Vertical Form">Vertical Form</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
                <a asp-page="/FormLayouts/Horizontal" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Horizontal Form">Horizontal Form</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/FormLayouts/Sticky" ? " active" : "")'>
                <a asp-page="/FormLayouts/Sticky" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Sticky Actions">Sticky Actions</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/FormWizard/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-transit-connection-horizontal"></i>
              <div data-i18n="Form Wizard">Form Wizard</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/FormWizard/Numbered" ? " active" : "")'>
                <a asp-page="/FormWizard/Numbered" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Numbered">Numbered</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/FormWizard/Icons" ? " active" : "")'>
                <a asp-page="/FormWizard/Icons" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Icons">Icons</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/FormValidation/Validation" ? " active" : "")'>
            <a asp-page="/FormValidation/Validation" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-checkbox-marked-circle-outline'></i>
              <div data-i18n="Form Validation">Form Validation</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Tables -->
      <li class='menu-item@(currentPage.StartsWith("/Tables/") ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-table"></i>
          <div data-i18n="Tables">Tables</div>
        </a>
        <ul class="menu-sub">
          <!-- Tables -->
          <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
            <a asp-page="/Tables/Basic" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-grid-large'></i>
              <div data-i18n="Tables">Tables</div>
            </a>
          </li>
          <li class='menu-item@(currentPage.StartsWith("/Tables/DataTables/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-grid"></i>
              <div data-i18n="Datatables">Datatables</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Tables/DataTables/Basic" ? " active" : "")'>
                <a asp-page="/Tables/DataTables/Basic" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Basic">Basic</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Tables/DataTables/Advanced" ? " active" : "")'>
                <a asp-page="/Tables/DataTables/Advanced" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Advanced">Advanced</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Tables/DataTables/Extensions" ? " active" : "")'>
                <a asp-page="/Tables/DataTables/Extensions" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Extensions">Extensions</div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Charts & Maps -->
      <li class='menu-item@((currentPage.StartsWith("/Charts/") || currentPage.StartsWith("/Maps/")) ? " active" : "")'>
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons mdi mdi-chart-donut"></i>
          <div data-i18n="Charts & Maps">Charts & Maps</div>
        </a>
        <ul class="menu-sub">
          <li class='menu-item@(currentPage.StartsWith("/Charts/") ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
              <i class="menu-icon tf-icons mdi mdi-chart-line"></i>
              <div data-i18n="Charts">Charts</div>
            </a>
            <ul class="menu-sub">
              <li class='menu-item@(currentPage == "/Charts/Apex" ? " active" : "")'>
                <a asp-page="/Charts/Apex" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="Apex Charts">Apex Charts</div>
                </a>
              </li>
              <li class='menu-item@(currentPage == "/Charts/Chartjs" ? " active" : "")'>
                <a asp-page="/Charts/Chartjs" class="menu-link">
                  <i class='menu-icon tf-icons mdi mdi-circle-medium'></i>
                  <div data-i18n="ChartJS">ChartJS</div>
                </a>
              </li>
            </ul>
          </li>
          <li class='menu-item@(currentPage == "/Maps/Leaflet" ? " active" : "")'>
            <a asp-page="/Maps/Leaflet" class="menu-link">
              <i class='menu-icon tf-icons mdi mdi-map-outline'></i>
              <div data-i18n="Leaflet Maps">Leaflet Maps</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
<!-- / Menu -->
