.nav-tab-wrapper a span.pending-count {
    display: inline-block;
    padding: 0 6px;
    background-color: #d54e21;;
    color: #fff;
    font-size: 9px;
    font-weight: 600;
    border-radius: 10px;
    line-height: 17px;
    vertical-align: middle;
}

#yith_wcaf_panel_rate .general-rate-table table.form-table {
    max-width: 418px;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

}

#yith_wcaf_panel_rate .general-rate-table table.yith-general-commission th,
#yith_wcaf_panel_rate .general-rate-table table.yith-general-commission td {
    padding: 15px 20px;
}

#yith_wcaf_panel_rate .general-rate-table table td.rate-column {
    text-align: right;
}

#yith_wcaf_panel_rate .general-rate-table table td input {
    max-width: 70px;
}

#yith_wcaf_panel_rate .separator {
    margin: 50px 0 0;
}

#yith_wcaf_panel_rate .yith-users-new-commission,
#yith_wcaf_panel_rate .yith-products-new-commission,
#yith_wcaf_panel_affiliate .yith-new-affiliate,
#yith_wcaf_panel_click .yith-wcaf-delete-logs {
    display: inline-block;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-bottom: 20px;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

#yith_wcaf_panel_rate .yith-users-new-commission h4,
#yith_wcaf_panel_rate .yith-products-new-commission h4,
#yith_wcaf_panel_affiliate .yith-new-affiliate h4,
#yith_wcaf_panel_click .yith-wcaf-delete-logs h4 {
    margin-top: 0;
}

#yith_wcaf_panel_rate .yith-users-select,
#yith_wcaf_panel_rate .yith-users-commission,
#yith_wcaf_panel_rate .yith-users-commission-submit,
#yith_wcaf_panel_rate .yith-products-select,
#yith_wcaf_panel_rate .yith-products-commission,
#yith_wcaf_panel_rate .yith-products-commission-submit,
#yith_wcaf_panel_affiliate .yith-affiliate-select,
#yith_wcaf_panel_affiliate .yith-affiliate-new,
#yith_wcaf_panel_affiliate .yith-affiliate-submit,
#yith_wcaf_panel_click .yith-users-select{
    display: inline-block !important;
    vertical-align: middle;
}

#yith_wcaf_panel_commission .widefat .column-id,
#yith_wcaf_panel_affiliate .widefat .column-id,
#yith_wcaf_panel_payment .widefat .column-id {
    width: 70px;
}

#yith_wcaf_panel_affiliate .widefat .column-token {
    width: 80px;
}

#yith_wcaf_panel_commission .widefat .column-status,
#yith_wcaf_panel_click .widefat .column-status,
#yith_wcaf_panel_affiliate .widefat .column-status,
#yith_wcaf_panel_payment .widefat .column-status {
    width: 50px;
}

#yith_wcaf_panel_click .widefat .column-referrer,
#yith_wcaf_panel_click .widefat .column-order,
#yith_wcaf_panel_affiliate .widefat .column-affiliate {
    width: 250px;
}

#yith_wcaf_panel_commission .widefat .column-user,
#yith_wcaf_panel_commission .widefat .column-order,
#yith_wcaf_panel_commission .widefat .column-product {
    width: 180px;
}

#yith_wcaf_panel_click .widefat .column-referrer img,
#yith_wcaf_panel_affiliate .widefat .column-affiliate img,
#yith_wcaf_panel_commission .widefat .column-user img,
#yith_wcaf_panel_commission .widefat .column-product img,
#yith_wcaf_panel_rate .widefat .column-product img,
#yith_wcaf_panel_payment .widefat .column-affiliate img {
    float: left;
    margin-right: 5px;
}

#yith_wcaf_panel_commission .widefat .column-product .wc-order-item-name,
#yith_wcaf_panel_rate .widefat .column-product .wc-order-item-name{
    display: block;
    font-size: .92em!important;
    color: #c8c8c8;
}

#yith_wcaf_panel_click .widefat .column-referrer small.meta,
#yith_wcaf_panel_affiliate .widefat .column-affiliate small.meta,
#yith_wcaf_panel_commission .widefat .column-user small.meta,
#yith_wcaf_panel_commission .widefat .column-product small.meta,
#yith_wcaf_panel_payment .widefat .column-affiliate small.meta {
    margin: 0;
    font-size: 0.9em;
    word-break: break-all;
}

#yith_wcaf_panel_commission .widefat .column-status mark,
#yith_wcaf_panel_click .widefat .column-status mark,
#yith_wcaf_panel_payment .widefat .column-status mark,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark,
#yith_wcaf_commission_payments .inside table .column-status mark {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto;
}

#yith_wcaf_panel_commission .widefat .column-status mark:after,
#yith_wcaf_panel_click .widefat .column-status mark:after,
#yith_wcaf_panel_payment .widefat .column-status mark:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark:after,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark:after,
#yith_wcaf_commission_payments .inside table .column-status mark:after {
    font-family: WooCommerce;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#yith_wcaf_panel_commission .widefat .column-status mark.trash:after{
    content: "\e016";
    color: #999;
}

#yith_wcaf_panel_commission .widefat .column-status mark.pending:after,
#yith_wcaf_panel_payment .widefat .column-status mark.pending:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.pending:after,
#yith_wcaf_commission_payments .inside table .column-status mark.pending:after {
    content: "\e011";
    color: #73a724;
}

#yith_wcaf_panel_commission .widefat .column-status mark.pending-payment:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.pending-payment:after,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark.pending:after{
    content: "\e012";
    color: #ffba00;
}

#yith_wcaf_panel_commission .widefat .column-status mark.paid:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.paid:after,
#yith_wcaf_panel_click .widefat .column-status mark.converted:after,
#yith_wcaf_panel_payment .widefat .column-status mark.completed:after,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark.enabled:after,
#yith_wcaf_commission_payments .inside table .column-status mark.completed:after {
    content: "\e015";
    color: #2ea2cc;
}

#yith_wcaf_panel_commission .widefat .column-status mark.not-confirmed:after,
#yith_wcaf_panel_payment .widefat .column-status mark.on-hold:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.not-confirmed:after,
#yith_wcaf_commission_payments .inside table .column-status mark.on-hold:after {
    content: "\e033";
    color: #999;
}

#yith_wcaf_panel_commission .widefat .column-status mark.cancelled:after,
#yith_wcaf_panel_payment .widefat .column-status mark.cancelled:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.cancelled:after,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark.banned:after,
#yith_wcaf_commission_payments .inside table .column-status mark.cancelled:after {
    content: "\e013";
    color: #a00;
}

#yith_wcaf_panel_commission .widefat .column-status mark.on-hold:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.on-hold:after,
#yith_wcaf_panel_click .widefat .column-status mark.not-converted:after,
#yith_wcaf_panel_affiliate .affiliate-table table .column-status mark.disabled:after {
    content: "\e033";
    color: #999;
}

#yith_wcaf_panel_commission .widefat .column-status mark.refunded:after,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-status mark.refunded:after {
    content: "\e014";
    color: #999;
}

#yith_wcaf_panel_commission .widefat .column-actions a.button,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button,
#yith_wcaf_panel_payment .widefat .column-actions a.button {
    float: left;
    margin: 0 4px 2px 0;
    cursor: pointer;
    display: block;
    text-indent: -9999px;
    position: relative;
    padding: 0 !important;
    height: 2em !important;
    width: 2em;
}

#yith_wcaf_panel_commission .widefat .column-actions a.button:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button:after,
#yith_wcaf_panel_payment .widefat .column-actions a.button:after {
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-family: WooCommerce;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    line-height: 1.85;
    text-indent: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.pay:after,
#yith_wcaf_panel_payment .widefat .column-actions a.button.pay:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button.pay:after {
    content: "\e01e";
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.view:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button.view:after,
#yith_wcaf_panel_payment .widefat .column-actions a.button.view:after {
    content: "\e010";
}

 #order_data.yith-payment .order_data_column p.form-field.to-field{
     float: right;
    clear: right;
}

#order_data.yith-payment .order_data_column p.form-field .date-picker{
    width: 100%;
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.completed:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button.enable:after {
    content: "\e015";
}

#yith_wcaf_panel_affiliate .widefat .column-actions a.button.dangling:after {
    content: '\e00d';
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.pending:after {
    content: "\e011";
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.not-confirmed:after {
    content: "\e033";
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.cancelled:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button.ban:after {
    content: "\e013";
}

#yith_wcaf_panel_affiliate .widefat .column-actions a.button.unban:after {
    content: "\e014";
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.on-hold:after,
#yith_wcaf_panel_affiliate .widefat .column-actions a.button.disable:after{
    content: "\e033";
}

#yith_wcaf_panel_commission .widefat .column-actions a.button.refunded:after {
    content: "\e014";
}

#yith_wcaf_panel_click .reset-button,
#yith_wcaf_panel_payment .reset-button,
#yith_wcaf_panel_commission .reset-button,
#yith_wcaf_panel_stat .reset-button{
    display: inline-block;
    margin: 1px 8px 0 0;
}

#back_to_commission,
#back_to_affiliate,
#back_to_payment {
    float: right;
}

#yith_wcaf_panel_click .bulkactions {
    display: none;
}

#yith_wcaf_panel_click .yith-wcaf-delete-logs + .subsubsub{
    float: none;
}

#yith_wcaf_order_referral_commissions .referral-user,
#yith_wcaf_payment_affiliate .referral-user {
    margin-top: 15px;
}

#yith_wcaf_order_referral_commissions .referral-user:after,
#yith_wcaf_payment_affiliate .referral-user:after {
    content: '';
    display: block;
    clear: both;
}

#yith_wcaf_order_referral_commissions .referral-user .delete-affiliate{
    color: #ccc;
    display: none;
    cursor: pointer;
    padding: 0 0 .5em;
    margin: 0 0 0 12px;
    vertical-align: middle;
    text-decoration: none;
    line-height: 16px;
    width: 16px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 10px;
}

#yith_wcaf_order_referral_commissions:hover .referral-user .delete-affiliate{
    display: inline-block;
}

#yith_wcaf_order_referral_commissions .referral-user .delete-affiliate:hover{
    color: #a00;
}

#yith_wcaf_order_referral_commissions .referral-user .delete-affiliate:before{
    content: "";
    font-family: Dashicons;
    -webkit-font-smoothing: antialiased;
    text-indent: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

#yith_wcaf_order_referral_commissions .referral-user .referral-avatar,
#yith_wcaf_payment_affiliate .referral-user .referral-avatar {
    float: left;
}

#yith_wcaf_order_referral_commissions .referral-user .referral-avatar img,
#yith_wcaf_payment_affiliate .referral-user .referral-avatar img {
    border-radius: 50%;
    border: 4px solid #e3e3e3;
}

#yith_wcaf_order_referral_commissions .referral-user .referral-info,
#yith_wcaf_payment_affiliate .referral-user .referral-info {
    overflow: hidden;
    margin-left: 80px;
}

#yith_wcaf_order_referral_commissions .referral-user .referral-info h3,
#yith_wcaf_payment_affiliate .referral-user .referral-info h3 {
    padding: 0;
    margin: 15px 0 0;
}

#yith_wcaf_order_referral_commissions .referral-user .no-referral-message{
    font-style: italic;
    font-size: 110%;
    text-align: center;

    padding-bottom: 15px;
}

#yith_wcaf_order_referral_commissions .referral-user .no-referral-message:before,
#yith_wcaf_order_referral_commissions .referral-user .no-referral-message:after{
    content: '-';
    display: inline-block;
    margin: 0 4px;
}

#yith_wcaf_order_referral_commissions .referral-user .set-referral{
    padding-top: 15px;
    position: relative;
}

#yith_wcaf_order_referral_commissions .referral-user .set-referral:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -12px;
    right: -12px;
    border-bottom: 1px solid #cdcdcd;
}

#yith_wcaf_order_referral_commissions .referral-user .set-referral .calculate-commission-button{
    float: right;
    width: 26px;
    height: 26px;

    text-indent: -9999px;
}

#yith_wcaf_order_referral_commissions .referral-commissions,
#yith_wcaf_payment_affiliate .referral-stats {
    margin: 15px -12px 0 -12px;
}

#yith_wcaf_payment_affiliate .referral-stats {
    margin-bottom: -12px;
}

#yith_wcaf_order_referral_commissions .referral-commissions table,
#yith_wcaf_payment_affiliate .referral-stats table,
#yith_wcaf_commission_payments .inside table {
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;

}

#yith_wcaf_order_referral_commissions .referral-commissions table th,
#yith_wcaf_payment_affiliate .referral-stats table th,
#yith_wcaf_commission_payments .inside table th {
    text-align: left;
    padding: 1em;
    font-weight: 400;
    color: #999;
    background: #f8f8f8;
}

#yith_wcaf_order_referral_commissions .referral-commissions table td,
#yith_wcaf_payment_affiliate .referral-stats table td,
#yith_wcaf_commission_payments .inside table td {
    padding: 10px 5px;
    border-bottom: 1px solid #f8f8f8;
}

#yith_wcaf_order_referral_commissions .referral-commissions table tr:last-child td,
#yith_wcaf_payment_affiliate .referral-stats table tr:last-child td,
#yith_wcaf_commission_payments .inside table tr:last-child td {
    border-bottom: 1px solid #dfdfdf;
}

#yith_wcaf_order_referral_commissions .referral-commissions table .column-status,
#yith_wcaf_order_referral_commissions .referral-commissions table .column-id,
#yith_wcaf_commission_payments .inside table .column-id {
    width: 30px;
}

#yith_wcaf_order_referral_commissions .referral-commissions table .column-amount,
#yith_wcaf_commission_payments .inside table .column-amount {
    text-align: right;
    padding-right: 12px;
}

#yith_wcaf_order_referral_commissions .referral-commissions table tr:first-child td {
    border-top: none;
}

#yith_wcaf_order_referral_commissions .referral-totals {
    background: #f8f8f8;
    padding: 12px;
    margin: 0 -12px -12px -12px;
}

#yith_wcaf_order_referral_commissions .referral-totals:after {
    content: '';
    display: block;
    clear: both;
}

#yith_wcaf_order_referral_commissions .referral-totals table {
    float: right;
    text-align: right;
}

#yith_wcaf_order_referral_commissions .referral-totals table td.total {
    min-width: 100px;
}

#yith_wcaf_order_referral_history .history-section {
    margin-top: 15px;
}

#yith_wcaf_order_referral_history .referral-history-item {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
    background: #428bca;
    margin-bottom: 5px;
}

#yith_wcaf_order_referral_history .referral-history-item span {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

#yith_wcaf_order_referral_history .referral-history-item:before,
#yith_wcaf_order_referral_history .referral-history-item:after {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    content: '';
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

#yith_wcaf_order_referral_history .referral-history-item:before {
    border-left: 10px solid #fff;
    z-index: 1;
}

#yith_wcaf_order_referral_history .referral-history-item:after {
    border-left: 10px solid #428bca;
    margin-right: -10px;
    z-index: 2;
}

#yith_wcaf_commission_actions .inside select,
#yith_wcaf_payment_actions .inside select {
    width: 70%;
    margin-right: 1%;
    box-sizing: border-box;
}

#yith_wcaf_commission_actions .inside button,
#yith_wcaf_payment_actions .inside button {
    width: 25%;
    box-sizing: border-box;
}

#yith_wcaf_commission_payments .inside {
    margin: 0;
    padding: 0;
}

#yith_wcaf_commission_payments .inside table td {
    vertical-align: middle;
}

#yith_wcaf_commission_payments .inside table td.column-payment-email {
    word-break: break-all;
}

#yith_wcaf_commission_payments .inside table tr.inactive {
    opacity: 0.3;
    background-color: #fafafa;
}

#yith_wcaf_commission_notes .inside,
#yith_wcaf_payment_notes .inside {
    padding: 0;
    margin: 0;
}

#yith_wcaf_commission_notes .inside ul.order_notes li,
#yith_wcaf_payment_notes .inside ul.order_notes li {
    padding: 0 10px;
}

#yith_wcaf_panel_stat table .column-product{
    width: 33%;
}

#yith_wcaf_panel_stat table.wc_status_table td.help{
    width: 52px;
    text-align: center;
}

#order_data .affiliate-stats{
    margin: 25px 0;
}

#order_data .affiliate-stats:after{
    content: '';
    display: block;
    clear: both;
}

#order_data .affiliate-stats .order_data_column{
    width: 24%;
    padding: 0 1% 0 0;
    text-align: center;
    border-right: 1px solid #cdcdcd;
}

#order_data .affiliate-stats .order_data_column:last-child{
    border-right-style: none;
    background-color: #f8f8f8;
}

#order_data .affiliate-stats .order_data_column p{
    font-size: 1.2em;
    padding: 15px!important;
}

#order_data .affiliate-stats .order_data_column:last-child p{
    font-weight: 700;
}

#affiliate_details,
#affiliate_commissions,
#affiliate_payments,
#affiliate_users{
    padding: 25px;
}

#affiliate_details hr:first-child{
    display: none;
}

#affiliate_details input[type="text"] + .description,
#affiliate_details input[type="number"] + .description,
#affiliate_details input[type="email"] + .description,
#affiliate_details input[type="url"] + .description,
#affiliate_details span.select2 + .description,
#affiliate_details select + .description{
    display: block;
    margin-top: 5px;
}

#affiliate_users ul{
    margin: 0 -1%;
}

#affiliate_users ul li{
    display: inline-block;
    width: 31%;
    padding: 0 1%;
    margin-bottom: 25px;
}

#affiliate_users ul li .referral-user .referral-avatar {
    float: left;
}

#affiliate_users ul li .referral-user .referral-avatar img {
    border-radius: 50%;
    border: 4px solid #e3e3e3;
}

#affiliate_users ul li .referral-user .referral-info {
    overflow: hidden;
    margin-left: 85px;
}

#affiliate_users ul li .referral-user .referral-info h3 {
    padding: 0;
    margin: 10px 0 0;
}

#affiliate_users ul li .referral-user:after{
    content: '';
    display: block;
    clear: both;
}

#affiliate_commissions .no-items-found,
#affiliate_payments .no-items-found{
    text-align: center;
    font-style: italic;
}

#yith_wcaf_affiliate_actions .inside:after{
    content: '';
    display: block;
    clear: both;
}

#yith_wcaf_affiliate_actions .inside .save_affiliate,
#yith_wcwl_affiliate_url .inside .generate_link{
    float: right;
}

.yith_wcaf_template .template p{
    margin: 1em 0;
}

.yith_wcaf_template .template p a.button{
    float: right;
    margin-left: 10px;
    margin-top: -4px;
}

.yith_wcaf_template .template textarea{
    width: 100%!important;
    min-height: 60vh;
    height: calc( 100vh - 295px );
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.yith-plugins_page_yith_wcaf_panel #post-body.columns-2 #postbox-container-1{
    margin-right: 0;
}

.yith-plugins_page_yith_wcaf_panel #postbox-container-2 {
    width: calc(100% - 300px);
}

.yith-plugins_page_yith_wcaf_panel #yith_wcaf_affiliate_actions select{
    width: calc( 100% - 35px);
}

.yith-plugins_page_yith_wcaf_panel #yith_wcaf_affiliate_actions hr{
    margin: 10px -15px;
}