html.yith_welrp_opened,
body.yith_welrp_opened {
    overflow: hidden;
}
#yith-welrp {
    display: none;
}
#yith-welrp .yith-welrp-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 80;
    display: none;
}

#yith-welrp .yith-welrp-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 80;
    overflow-x: hidden;
    overflow-y: auto;
}
#yith-welrp .yith-welrp-popup-wrapper-region {
    padding: 20px;
    z-index: 80;
    width: 100%;
}
#yith-welrp .yith-welrp-popup {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#yith-welrp .yith-welrp-popup-inner {
    position: relative;
}
#yith-welrp .yith-welrp-popup-header {
    padding: 15px 30px;
    border-bottom: 1px solid #e0e0e0;
}
#yith-welrp .yith-welrp-popup.additional .yith-welrp-popup-header,
#yith-welrp .yith-welrp-popup.additional .yith-welrp-continue-as-guest {
    display: none;
}
#yith-welrp .yith-welrp-popup-header h4 {
    margin: 0;
    font-size: 16px;
}
#yith-welrp .yith-welrp-popup-close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 1;
    cursor: pointer;
}
#yith-welrp .yith-welrp-popup-close:not(.custom) {
    background-repeat: no-repeat;
    background-position: bottom;
}
#yith-welrp .yith-welrp-popup-close:not(.custom):hover {
    background-repeat: no-repeat;
    background-position: top;
}
#yith-welrp .yith-welrp-popup-content {
    padding: 15px 30px 30px;
}

#yith-welrp .yith-welrp-overlay,
#yith-welrp .yith-welrp-popup-wrapper {
    z-index: 50000;
}

/** Content Style **/

#yith-welrp .yith-welrp-popup-content h3 {
    font-size: 20px;
    margin: 10px 0 30px;
}
#yith-welrp .yith-welrp-continue-as-guest {
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
}
#yith-welrp .yith-welrp-continue-as-guest p {
    margin-bottom: 10px;
    font-size: 15px;
}
#yith-welrp .yith-welrp-submit-button,
#yith-welrp .yith-welrp-continue-as-guest .button {
    width: 100%;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    line-height: normal;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
#yith-welrp .yith-welrp-popup-text {
    margin-bottom: 30px;
    font-size: 15px;
}
#yith-welrp .yith-welrp-user-info {
    margin-bottom: 30px;
    line-height: 20px;
    font-size: 13px;
}
#yith-welrp .yith-welrp-user-avatar,
#yith-welrp .yith-welrp-user-data {
    display: inline-block;
    vertical-align: bottom;
}
#yith-welrp .yith-welrp-user-avatar {
    margin-right: 10px;
}
#yith-welrp .yith-welrp-user-data span:first-child {
    font-size: 14px;
    font-weight: bold;
}
#yith-welrp .yith-welrp-footer-link-container {
    text-align: center;
}
/** popup notice **/
#yith-welrp .yith-welrp-message {
    font-size: 13px;
    margin: 0 0 15px;
    position: relative;
    color: #8fae1b;
    clear: both;
}
#yith-welrp .yith-welrp-message.error {
    color: #da141d;
}

/** Form style **/
#yith-welrp form {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0 0 20px;
}
#yith-welrp form:after {
    content: '';
    display: table;
    clear: both;
}
#yith-welrp .yith-welrp-form-field {
    margin: 0 0 30px;
}
#yith-welrp .yith-welrp-form-field label {
    font-size: 15px;
}
#yith-welrp .yith-welrp-form-field.left {
    float: left;
    width: 48%;
}
#yith-welrp .yith-welrp-form-field.right {
    float: right;
    width: 48%;
    text-align: right;
}
#yith-welrp .yith-welrp-form-field.wide label {
    display: block;
}
#yith-welrp .yith-welrp-form-field.wide span.yith-welrp-password-container {
    position: relative;
    display: block;
}
#yith-welrp .yith-welrp-form-field.wide span.yith-welrp-password-eye {
    width: 22px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 13px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#yith-welrp .yith-welrp-form-field input[type="text"],
#yith-welrp .yith-welrp-form-field input[type="email"],
#yith-welrp .yith-welrp-form-field input[type="password"] {
    width: 100%;
    border: 1px solid #d1d1d1;
    height: 40px;
    padding: 10px 7px;
}

/** social login **/

#yith-welrp .yith-welrp-social-sep {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
#yith-welrp .yith-welrp-social-sep:after {
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: 1px;
    z-index: 1;
}
#yith-welrp .yith-welrp-social-sep span {
    padding: 0 30px;
    z-index: 2;
    position: relative;
    text-transform: uppercase;
}
#yith-welrp .yith-welrp-social-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0 -10px;
}
#yith-welrp .yith-welrp-social-container.cols-1 .yith-welrp-social {
    -webkit-flex: 100%;
    flex: 100%;
}
#yith-welrp .yith-welrp-social-container.cols-2 .yith-welrp-social {
    -webkit-flex: 50%;
    flex: 50%;
}

#yith-welrp .yith-welrp-social > div {
    display: block;
    margin: 0 10px;
    padding: 8px;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
#yith-welrp .yith-welrp-social > div > span {
    display: inline-block;
    vertical-align: middle;
    pointer-events: none;
}
#yith-welrp .yith-welrp-social > div > span.icon {
    margin-right: 5px;
    width: 20px;
}
#yith-welrp #g-recaptcha {
    margin-bottom: 20px;
}

/** email suggestion **/

#yith-welrp .yith-welrp-email-suggestion {
    position: relative;
}
#yith-welrp .yith-welrp-email-suggestion-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style: none;
    padding: 5px;
    margin: -1px 0 0 0;
    border: 1px solid #e7e7e7;
    border-top: 0;
    background: #ffffff;
    z-index: 10;
}
#yith-welrp .yith-welrp-email-suggestion-item {
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 2px;
}

@media ( min-width: 480px) {
    #yith-welrp .yith-welrp-popup {
        min-width: 320px;
    }
}