@page
@model AspnetCoreFull.Pages.Auth.VerifyEmail.BasicModel
@{
  Layout = "Layouts/_BlankLayout";

  ViewData["Title"] = "Verify Email Basic - Pages";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js"></script>
}
@* ************** Content ************** *@

<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-4">

      <div class="card p-2">
        <!-- Logo -->
        <div class="app-brand justify-content-center mt-5">
          <a href="/" class="app-brand-link gap-2">
            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
            <span class="app-brand-text demo text-heading fw-semibold">@TempData.Peek("appName")</span>
          </a>
        </div>
        <!-- /Logo -->

        <!-- Verify Email -->
        <div class="card-body mt-2">
          <h4 class="mb-2">Verify your email ✉️</h4>
          <p class="text-start mb-2">
            Account activation link sent to your email address: hello@example.com Please follow the link inside to continue.
          </p>
          <a class="btn btn-primary w-100 my-3" href="/">
            Skip for now
          </a>
          <p class="text-center mb-0">Didn't get the mail?
            <a href="javascript:void(0);">
              Resend
            </a>
          </p>
        </div>
      </div>
      <img alt="mask" src="~/img/illustrations/auth-basic-login-mask-light.png" class="authentication-image d-none d-lg-block" data-app-light-img="illustrations/auth-basic-login-mask-light.png" data-app-dark-img="illustrations/auth-basic-login-mask-dark.png" />
      <!-- /Verify Email -->
    </div>
  </div>
</div>
