/*----------------------------------------------------------------------------*\
	IHOVER ITEM SHORTCODE - Panel
\*----------------------------------------------------------------------------*/
.vc_ui-panel .mpc-ihover-effect .effect option:disabled,
.vc_ui-panel .mpc-ihover-style .style option:disabled {
	color: #cccccc;
}
