/**
 * Frontend style
 *
 * @author Leanza Francesco
 * @version 1.0.0
 */

.yith-wcbm-clearfix:before,
.yith-wcbm-clearfix:after {
    content : "";
    display : table;
}

.yith-wcbm-clearfix:after {
    clear : both;
}

.yith-wcbm-clearfix {
    zoom : 1; /* For IE 6/7 (trigger hasLayout) */
}

.yith-wcbm-badge {
    position    : absolute;
    box-sizing  : border-box;
    text-align  : center;
    z-index     : 10;
    font-family : "Open Sans", sans-serif;
    font-size   : 13px;
}

.yith-wcbm-badge img {
    max-width  : 200px;
    max-height : 200px;
}

.yith-wcbm-badge__wrap {
    width  : 100%;
    height : 100%;
}

p.yith-wcbm-badge-txt {
    margin  : 0;
    padding : 0;
}

.container-image-and-badge {
    position    : relative;
    display     : block;
    text-indent : 0;
    line-height : 0;
}

.yith-wcbm-badge img {
    margin : 0 !important;
}

span.onsale {
    z-index : 10;
}

.yith-wcbm-badge-advanced .yith-wcbm-badge-text,
.yith-wcbm-badge-advanced .yith-wcbm-badge-text-advanced,
.yith-wcbm-on-sale-badge-advanced .yith-wcbm-badge-text-advanced {
    position : absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 14;
}

/* Shortcode */
.yith-wcbm-shortcode-badge-container .container-image-and-badge {
    display : inline-block;
}

/* ============================================================================================
 *            T h e m e s  a n d   p l u g i n s    C o m p a t i b i l i t y
 * ============================================================================================
*/

/* - - - hide in cart items - - - */
.cart_item .yith-wcbm-badge {
    display : none !important;
}

/* - - - hide badges on product thumbnails - - - - */
.product-thumbnails .yith-wcbm-badge {
    display : none !important;
}

/* ----- Flatsome ----- */
.yith-wcbm-theme-flatsome .iosSlider.product-thumbnails .yith-wcbm-badge,
.yith-wcbm-theme-flatsome #mini-cart-content .container-image-and-badge .yith-wcbm-badge {
    display : none !important;
}

.yith-wcbm-theme-flatsome #mini-cart-content .container-image-and-badge,
.yith-wcbm-theme-flatsome .products .container-image-and-badge,
.yith-wcbm-theme-flatsome .yith-wcbm-badge img {
    position : static !important;
}

/* ----- Avada ----- */
.fusion-menu-cart-items .yith-wcbm-badge {
    display : none !important;
}

/* ----- Wishlist ----- */
#yith-wcwl-form .yith-wcbm-badge {
    display : none !important;
}

/* ---- Frequently Bough together ---- */
.yith-wfbt-section .yith-wcbm-badge, .yith-wfbt-form .yith-wcbm-badge {
    display : none !important;
}

/*---- Save for later ---- */
#ywsfl_container_list .yith-wcbm-badge {
    display : none !important;
}

/* ---- Quick View ---- */
.yith-quick-view-nav .container-image-and-badge {
    position : static !important;
    width    : 100% !important;
    padding  : 0 !important;
}

.yith-quick-view-nav .yith-wcbm-badge {
    display : none !important;
}

/* ---------- Ajax Search ---------- */
.yith-ajaxsearchform-container .yith-wcbm-badge {
    display : none !important;
}

/* ---------- Product Bundles -------------- */
.yith-wcpb-product-bundled-items .yith-wcbm-badge {
    display : none !important;
}

/* ------ Storefront Sticky Add to Cart -------- */
.ssatc-sticky-add-to-cart .yith-wcbm-badge {
    display : none !important;
}

/* ------ Request a Quote ------- */
.yith-ywraq-list-widget-wrapper .yith-wcbm-badge {
    display : none !important;
}

/* ------ Added to cart popup ------- */
.yith-wacp-content table.cart-list .yith-wcbm-badge {
    display : none;
}

/* ------ Basel Theme -------- */
body.yith-wcbm-theme-basel .container-image-and-badge > img,
body.yith-wcbm-theme-basel .container-image-and-badge *:not(.yith-wcbm-badge) img {
    width : 100%;
}