
// Animation Performance
@mixin performance() {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

@mixin opacity($opacity) {
    opacity: $opacity;
}

@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($border, 5%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($border, 5%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: $color;
        background-color: darken($background, 5%);
        border-color: darken($border, 5%);
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $background;
            border-color: $border;
        }
    }

    .badge {
        color: $background;
        background-color: $color;
    }
}

@mixin animate-spin {
    -webkit-animation: spin .75s infinite linear;
    animation: spin 0.75s infinite linear;
    display: inline-block;
}

@mixin display-flex {
    display: -webkit-flex; display: -ms-flexbox; display: flex;
}
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap; -ms-flex-wrap: $wrap; flex-wrap: $wrap;
}
@mixin flex($prop) {
    -webkit-flex: $prop; -ms-flex: $prop; flex: $prop;
}